{% extends 'BranchBundle::User/base.html.twig' %}

{% block moduleContent %}
    <section class="form">
        {% include 'BranchBundle::ads.html.twig' %} 
        <div class="wrapper">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {% include 'BranchBundle::Block/submit_cancel.html.twig' %}
            {{ form_end(form) }}
        </div> 
    </section>

    <div class="wrapper">
        {% include 'BranchBundle::ads.html.twig' %} 
    </div>
{% endblock %}
