{% extends 'BranchBundle::User/base.html.twig' %}

{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <a class="red" href="{{ path('branch_user_add') }}">ADD USER</a>
            <a class="filter red" href="#">FILTER</a>
        </div>
    </section>
    <section class="filter-slide">
        <div class="filter-main">
            <button class="filter-close"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
            <div>
                <form action="{{ path('branch_user_index') }}" method="GET">
                    <section>
                        <label for="">First Name</label>
                        <input type="text" name="first_name" value="{{ app.request.get('first_name') }}">
                    </section>
                    <section>
                        <label for="">Last Name</label>
                        <input type="text" name="last_name" value="{{ app.request.get('last_name') }}">
                    </section>
                    <section>
                        <label for="">Email</label>
                        <input type="text" name="email" value="{{ app.request.get('email') }}">
                    </section>
                    <section class="form-submit">
                        <button type="submit" class="red">SEARCH</button>
                        <button class="filter-cancel gray">CANCEL</button>
                    </section>
                </form>
            </div>
        </div>
    </section>
   
    <section class="table">
        {% include 'BranchBundle::ads.html.twig' %} 
        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                    <th></th>
                </tr>
                {% for user in pagination %}
                    <tr>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.emailAddress }}</td>
                        <td>{{ user.contactNumber }}</td>
                        <td class="table-dropdown">
                            <button><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                            <ul>
                                <li><a href="{{ path('branch_user_update_warehouse_membership', {'userId': user.Id}) }}">ASSIGN ROLE</a></li>
                                <li><a href="{{ path('branch_user_update', {'userId': user.Id}) }}">EDIT DETAILS</a></li>
                                <li><a href="{{ path('branch_user_change_password', {'userId': user.Id}) }}">CHANGE PASSWORD</a></li>
                                <li><a href="{{ path('branch_user_delete', {'userId': user.Id}) }}">DELETE</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
