{% macro membership(membership) %}
    <div class="select-warehouse">
        <section>
            {{ form_widget(membership.warehouse) }}
            {{ form_errors(membership.warehouse) }}
        </section>
    </div>
    <div class="select-role">
        {% for role in membership.roles %}
            <section class="inline-checkbox">
                {{ form_widget(role) }}
                {{ form_label(role) }}
                {{ form_errors(role) }}
            </section>
        {% endfor %}
    </div>
{% endmacro %}
