{% extends 'BranchBundle::User/base.html.twig' %}
{% import 'BranchBundle::User/membership_prototype.html.twig' as proto %}

{% block moduleContent %}
    <section class="form">
        <div class="wrapper">
            {{ form_start(form) }}
            <ul class="membership-v2 clearfix" data-prototype="{{ proto.membership(form.warehouseMemberships.vars.prototype)|e }}">
                {% for membership in form.warehouseMemberships %}
                    <li>
                        {{ proto.membership(membership) }}
                    </li>
                {% endfor %}
            </ul>
            <section class="center-action">
                <a href="#" class="add_membership_link">Add new membership</a>
            </section>
            {{ form_errors(form.warehouseMemberships) }}
            {% include 'BranchBundle::Block/submit_cancel.html.twig' %}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?jsqueeze"
        'js/src/Branch/User/warehouse_membership_form.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
