{% extends 'base.html.twig' %}

{% set pageClass = 'LMBM-WMS login' %}

{% block body %}
    <main>
        <div class="wrapper">
            <form action="{{ path('login') }}" method="post">
                <section>
                    <input placeholder="Email" type="text" id="username" name="_username" value="{{ last_username }}" />
                </section>
                <section>
                    <input placeholder="Password" type="password" id="password" name="_password" />
                </section>
                <section>
                    <select name="_warehouse" id="warehouse">
                        {% for warehouse in warehouses %}
                            <option value="{{ warehouse.id }}">{{ warehouse.name }}</option>
                        {% endfor %}
                    </select>
                </section>
                <section class="submit">
                    <button class="red" type="submit">Login</button>
                    {% if error %}
                        <span class="error font-red text-center">Invalid Login Credentials</span>
                    {% endif %}
                </section>
                <input type="hidden" name="_target_path" value="/user" />
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            </form>
        </div>
    </main>
{% endblock %}
