{% extends 'BranchBundle::Inbounding/base.html.twig' %}

{% block moduleContent %}
    <section class="table custom inbound-po-table">
        
        {% include 'BranchBundle::ads.html.twig' %} 

        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>SKU</th>
                    <th>CLIENT SKU</th>
                    <th>SUPPLIER SKU</th>
                    <th>EXPECTED</th>
                    <th>INBOUNDED</th>
                    <th>RECIEVED</th>
                    <th>STORAGE LOC</th>
                    <th>MOBILE LOC</th>
                    <th>QUARANTINE?</th>
                </tr>
                {% for purchaseOrderProduct in purchaseOrder.products %}
                    {% set product = purchaseOrderProduct.product %}
                    {% set partialReceived = currentInboundState[product.sku] is defined ? currentInboundState[product.sku].partialQuantity : 0 %}
                    <tbody id="prd-{{product.id}}">
                        <tr><td colspan="8" class="space"></td></tr>
                        <tr>
                            <td class="sku">{{ product.sku }}</td>
                            <td class="detail" data-idx="clientSku">{{ product.clientSku }}</td>
                            <td class="detail" data-idx="supplierSku">{{ product.supplierSku }}</td>
                            <td class="detail" data-idx="expectedQuantity">{{ purchaseOrderProduct.quantity }}</td>
                            <td class="detail" data-idx="partialQuantity">{{ partialReceived }}</td>
                            <td>
                                <input 
                                    class="detail" 
                                    data-idx="receivedQuantity" 
                                    type="text"
                                    value="0"
                                    placeholder="0"
                                    {{ partialReceived >= purchaseOrderProduct.quantity ? "disabled" : "" }}
                                >
                            </td>
                            <td>
                                <input 
                                    class="detail" 
                                    data-idx="storageLocation" 
                                    type="text"
                                    {{ partialReceived >= purchaseOrderProduct.quantity ? "disabled" : "" }}
                                >
                            </td>
                            <td>
                                <input 
                                    class="detail" 
                                    data-idx="mobileLocation" 
                                    type="text"
                                    {{ partialReceived >= purchaseOrderProduct.quantity ? "disabled" : "" }}
                                >
                            </td>
                            <td>
                                <input class="detail" data-idx="forQuarantine" type="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9" class="no-border">
                                <h5 class="detail" data-idx="productDescription">{{ product.productDescription }}</h5>
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
        <input type="hidden" id="submission-url" value="{{ path('branch_inbounding_submit', {'purchaseOrderNumber': purchaseOrder.purchaseOrderNumber}) }}">
        <input type="hidden" id="inbounding-index-url" value="{{ path('branch_inbounding_index') }}">
        <input type="hidden" id="inbounding-print-url" value="{{ path('branch_inbounding_print') }}">
    </section>
    <section class="submit">
        <div class="wrapper">
            <button class="red" id="submit-button">PRINT AND SUBMIT</button>
            <button class="gray" onclick="javascript:history.back()">CANCEL</button>
        </div>
    </section>

    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?jsqueeze"
        'js/src/Branch/Inbounding/inbound.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
