{% extends 'BranchBundle::Inbounding/base.html.twig' %}

{% block moduleContent %}
    <section class="form">
        <div class="wrapper">
            
            {% include 'BranchBundle::ads.html.twig' %} 

            <form method="POST" action="{{ path('branch_inbounding_index') }}">
                <section>
                    <label for="">Purchase Order Number</label>
                    <input name="purchaseOrderNumber" type="text">
                </section>
                <section class="form-submit">
                    <button class="red">Retrieve</button>
                </section>
            </form>
        </div>

    </section>
{% endblock %}
