<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
        <title>Inventory Tags - {{ "now"|date('Y-m-d H:i:s') }}</title>
        {% block stylesheets %}
            {% stylesheets filter="cssrewrite,scssphp"
                "scss/font-awesome-4.6.3/src/font-awesome.scss"
                "css/src/base.css"
            %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
            <link rel="stylesheet" type="text/css" href="css/src/print.css">

        {% endblock %}
        <style type="text/css">
            @media print {
                div.pagebreak {
                    page-break-after: always;
                    height: 10px;
                }
            }

            .item-tags .item{
                list-style: none;   
                margin: 0;
                padding: 0;
                /*width: 100%;*/
                padding: 0;
            }
            .item-tags .item-tag{
                /*width: 50%;*/
                height: 127px;
                padding: 10px 8px 10px;
                text-align: center;
                border-bottom: 0;
                box-sizing: border-box;
            }
            .item-tags .item .item-tag:nth-child(n){
                padding-right: 12px;
                padding-left: 6px;
            }
            .item-tags .item .item-tag:nth-child(2n+1){
                padding-left: 12px;
                padding-right: 5px;
            }
            .item-tags .item .item-tag:last-child{
                margin-bottom: 0;
                height: 113px;
            }
            .item-tags .item .item-tag:nth-last-child(2){
                margin-bottom: 0;
                height: 113px;   
            }
            .item-tags .item-tag > div{
                margin: 0 auto;
            }
            .item-tags img{
                display: block;
            }
            .item-tags p{
                margin: 0;
                font-weight: 700;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;    
            }

        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="-webkit-print-color-adjust:exact;">
                    <section class="item-tags">
                        <div class="clearfix item">
                                {% for key,item in items %}                                
                                    <div class="col-6-12">                
                                        <div class="item-tag">
                                            {{ render_barcode(item.tag, 'C128', 1, 20)|raw }}
                                            <p class="itm-tag">{{ item.tag }}</p>
                                            {{ render_barcode(item.sku, 'C128', 1, 20)|raw }}
                                            <p class="itm-sku">{{ item.sku }}</p>
                                            <p>{{ item.description }}</p>
                                        </div>
                                    </div>

                                    {% if key % 2 == 0 %}
                                        <div class="pagebreak"></div>
                                    {% endif %}
                                {% endfor %}
                            
                        </div>
                    </section> 
    </body>
</html>
