<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
        <title>Inventory Tags - {{ "now"|date('Y-m-d H:i:s') }}</title>
        {% block stylesheets %}
            {% stylesheets filter="cssrewrite,scssphp"
                "scss/font-awesome-4.6.3/src/font-awesome.scss"
                "css/src/base.css"
            %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
        <style type="text/css">
            @media print {
                footer {page-break-after: always;}
            }
        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="-webkit-print-color-adjust:exact;">
        <section class="item-tags">
            <ul class="clearfix">
                {% for item in items %}
                    <li class="item-tag">
                        {{ render_barcode(item.tag, 'C128', 1, 20)|raw }}
                        <p class="itm-tag">{{ item.tag }}</p>
                        {{ render_barcode(item.sku, 'C128', 1, 20)|raw }}
                        <p class="itm-sku">{{ item.sku }}</p>
                        <p>{{ item.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        </section> 
    </body>
</html>
