{% extends 'base.html.twig' %}

{% set pageClass = 'LMBM-WMS' %}

{% block body %}
    {% set clientDomain = app.session.get('_client').hostAlias %}
    {% include 'ClientBundle::navigation.html.twig' %}
    <section class="shader"></section>
    {% block modal %}
    {% endblock %}
    <main>
        {% include 'ClientBundle::notification.html.twig' %}
        {% block content %}
        {% endblock %}
    </main>
{% endblock %}
