<aside>
    <h2 class="brand">
        <a href="index.html"><img src=" {{ asset('images/wg-logo.png') }} " alt="WG Logo"></a>
    </h2>
    <nav>
        <ul>
            <li>
                <!-- <a href="">Inbound</a> -->
                <ul class="sub-nav">
                    {# <li class="{{ activeNav == 'CycleCount' ? 'active' : '' }}"><a href="{{ path('client_cyclecount_list', {'clientDomain': clientDomain}) }}">Cycle Count Report</a></li> #}
                    
                    {# {% if is_granted('ROLE_HAS_CLIENT_PRODUCT_MODULE_ACCESS') %} #}
                        <li class="{{ activeNav == 'Product' ? 'active' : '' }}"><a href="{{ path('client_product_index', {'clientDomain': clientDomain}) }}">Product</a></li>
                    {# {% endif %}
                    {% if is_granted('ROLE_HAS_CLIENT_PURCHASE_ORDER_MODULE_ACCESS') %} #}
                        <li class="{{ activeNav == 'PurchaseOrder' ? 'active' : '' }}"><a href="{{ path('client_purchase_order_index', {'clientDomain': clientDomain}) }}">Purchase Order</a></li>
                    {# {% endif %}
                    {% if is_granted('ROLE_HAS_CLIENT_PICKLIST_MODULE_ACCESS') %} #}
                        <li class="{{ activeNav == 'Picklist' ? 'active' : '' }}"><a href="{{ path('client_picklist_index', {'clientDomain': clientDomain}) }}">Picklist</a></li>
                    {# {% endif %} #}
                    
                    <li class="{{ activeNav == 'Inventory' ? 'active' : '' }}"><a href="{{ path('client_inventory_index', {'clientDomain': clientDomain}) }}">Inventory Master</a></li>
                    <li class="{{ activeNav == 'InventoryReport' ? 'active' : '' }}"><a href="{{ path('client_inventory_summary', {'clientDomain': clientDomain}) }}">Inventory Report</a></li>
                    <li class="{{ activeNav == 'User' ? 'active' : '' }}"><a href="{{ path('client_user_index', {'clientDomain': clientDomain}) }}">User</a></li>
                    
                </ul>
            </li>
        </ul>
    </nav>
</aside>
