<section class="top-nav clearfix">
    <ul class="clearfix">
        <li class="notification">
            <a href="#"><span>0</span><i class="fa fa-bell" aria-hidden="true"></i></a>
        </li>
        <li class="account">
            <a>
                {% set name = 'Guest' %}
                {% if app.user.firstName is defined %}
                    {% set name = app.user.firstName ~ ' ' ~ app.user.lastName %}
                {% else %}
                    {% set name = app.user.name %}
                {% endif %}
                {{ name }}<img src="" alt=""><i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <ul>
                <li><a href="">Change Password</a></li>
                <li><a href="{{ path('client_logout', {'clientDomain': clientDomain}) }}">Logout</a></li>
            </ul>
        </li>
    </ul>
</section>
