{% extends 'BranchBundle::InventoryMove/base.html.twig' %}

{% block moduleContent %}
    <section class="form">
        <div class="wrapper">
            {{ form_start(form) }}
            <section>
                <input type="hidden" id="search-url" value="{{ path('branch_inventory_move_search') }}">
                {{ form_label(form.target) }}
                {{ form_widget(form.target, {'attr':{'class':'target-input'}}) }}
                <span class="status font-blue searching" style="display: none;">Searching</span>
                {{ form_errors(form.target) }}
            </section>

            <!-- if scanned is item -->
            <section class="inventory-info" id="single-item-details" style="display: none;">
                <ul id="single-details">
                </ul>
            </section>

            {% include 'BranchBundle::ads.html.twig' %} 
            
            <!-- if scanned is mobile-location -->
            <section class="form-table custom" id="multiple-item-details" style="display: none;">
                <table width="100%" cellspacing="0" cellpadding="0" id="multiple-inventory-table">
                    <tr>
                        <th>LMBM SKU</th>
                        <th>CLIENT SKU</th>
                        <th>SUPPLIER SKU</th>
                        <th>TAG</th>
                        <th>CURRENT LOCATION</th>
                    </tr>
                </table>
            </section>

            <section id="storage-location-entry" style="display: none;">
                <input type="hidden" id="search-url" value="{{ path('branch_inventory_move_search') }}">
                {{ form_label(form.storageLocation) }}
                {{ form_widget(form.storageLocation, {'attr':{'class':'storage-location-input'}}) }}
                {{ form_errors(form.storageLocation) }}
            </section>

            <section id="mobile-location-entry" style="display: none;">
                <input type="hidden" id="search-url" value="{{ path('branch_inventory_move_search') }}">
                {{ form_label(form.mobileLocation) }}
                {{ form_widget(form.mobileLocation, {'attr':{'class':'mobile-location-input'}}) }}
                {{ form_errors(form.mobileLocation) }}
                {{ form_errors(form) }}
            </section>

            {% include 'BranchBundle::Block/submit_cancel.html.twig' %}
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?jsqueeze"
        'js/src/Branch/InventoryMove/index.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
