{% extends 'ClientBundle::User/base.html.twig' %}

{% block moduleContent %}
    
    {% include 'BranchBundle::ads.html.twig' %} 

    <section class="form">
        <div class="wrapper">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {% include 'BranchBundle::Block/submit_cancel.html.twig' %}
            {{ form_end(form) }}
        </div> 
    </section>

{% endblock %}
