{% extends "ClientBundle::User/base.html.twig" %}

{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            {% if is_granted('ROLE_CAN_CREATE_CLIENT_USER') %}
                <a class="red" href="{{ path('client_user_add', {'clientDomain': clientDomain}) }}">ADD USER</a>
            {% endif %}
            <a class="filter red" href="#">FILTER</a>
        </div>
    </section>
    <section class="filter-slide">
        <div class="filter-main">
            <button class="filter-close"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
            <div>
                <form action="{{ path('client_user_index', {'clientDomain': clientDomain}) }}" method="GET">
                    <section>
                        <label for="">First Name</label>
                        <input type="text" name="first_name" value="{{ app.request.get('first_name') }}">
                    </section>
                    <section>
                        <label for="">Last Name</label>
                        <input type="text" name="last_name" value="{{ app.request.get('last_name') }}">
                    </section>
                    <section>
                        <label for="">Email</label>
                        <input type="text" name="email" value="{{ app.request.get('email') }}">
                    </section>
                    <section class="form-submit">
                        <button type="submit" class="red">SEARCH</button>
                        <button class="filter-cancel gray">CANCEL</button>
                    </section>
                </form>
            </div>
        </div>
    </section>
    
    {% include 'BranchBundle::ads.html.twig' %} 

    <section class="table">
        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                    <th></th>
                </tr>
                {% for user in pagination %}
                    <tr>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.emailAddress }}</td>
                        <td>{{ user.contactNumber }}</td>
                        <td class="table-dropdown">
                            <button><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                            <ul>
                                {% if is_granted('ROLE_CAN_UPDATE_CLIENT_USER') %}
                                    <li><a href="{{ path('client_user_update', {'clientDomain': clientDomain, 'userId': user.Id}) }}">EDIT DETAILS</a></li>
                                {% endif %}
                                <li><a href="{{ path('client_user_change_password', {'clientDomain': clientDomain, 'userId': user.Id}) }}">CHANGE PASSWORD</a></li>
                                {% if is_granted('ROLE_CAN_DELETE_CLIENT_USER') %}
                                    <li><a href="{{ path('client_user_delete', {'clientDomain': clientDomain, 'userId': user.Id}) }}">DELETE</a></li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    {{ knp_pagination_render(pagination) }}

{% endblock %}
