{% extends 'BranchBundle::Client/base.html.twig' %}

{# {% extends 'BranchBundle::module.html.twig' %}
{% set activeNav = "Client" %}

{% if app.session.flashbag.has('error') %}
    <div class="message-box red">
        <p class="title">Error: </h5>
        {% for flashError in app.session.flashbag.get('error') %}
            <p>{{ flashError }}</p>
        {% endfor %}
    </div>
{% elseif app.session.flashbag.has('success') %}
    <div class="message-box green">
        <p class="title">Success: </h5>
        {% for flashSuccess in app.session.flashbag.get('success') %}
            <p>{{ flashSuccess }}</p>
        {% endfor %}
    </div>
{% endif %}

 #}{% block moduleContent %}
    <section class="form">
        {% include 'BranchBundle::ads.html.twig' %} 
        <div class="wrapper">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {% include 'BranchBundle::Block/submit_cancel.html.twig' %}
            {{ form_end(form) }}
        </div>
    </section>

    <div class="wrapper">
        {% include 'BranchBundle::ads.html.twig' %} 
    </div>
    
{% endblock %}
