{% extends 'BranchBundle::Client/base.html.twig' %}

{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <a class="red" href="{{ path('branch_client_add') }}">ADD CLIENT</a>
            <a class="filter red" href="#">FILTER</a>
        </div>
    </section>
    <section class="filter-slide">
        <div class="filter-main">
            <button class="filter-close"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
            <div>
                <form action="">
                    <section>
                        <label for="">Client Name</label>
                        <input type="text">
                    </section>
                    <section>
                        <label for="">Email</label>
                        <select name="" id="">
                            <option value=""></option>
                        </select>
                    </section>
                    <section class="form-submit">
                        <button class="red">SEARCH</button>
                        <button class="filter-cancel gray">CANCEL</button>
                    </section>
                </form>
            </div>
        </div>
    </section>

    {% include 'BranchBundle::ads.html.twig' %} 
    
    <section class="table">
        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>Client Name</th>
                    <th>Contact Person</th>
                    <th>Contact Number</th>
                    <th>Email</th>
                    <th>Host Alias</th>
                    <th></th>
                </tr>
                {% for client in pagination %}
                    <tr>
                        <td>{{ client.name }}</td>
                        <td>{{ client.contactPerson }}</td>
                        <td>{{ client.contactNumber }}</td>
                        <td>{{ client.emailAddress }}</td>
                        <td>{{ client.hostAlias }}</td>
                        <td class="table-dropdown">
                            <button><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                            <ul>
                                <li><a href="{{ path('branch_client_update', {'clientId': client.Id}) }}">EDIT</a></li>
                                <li><a href="{{ path('branch_client_change_password', {'clientId': client.Id}) }}">CHANGE PASSWORD</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    {{ knp_pagination_render(pagination) }}

{% endblock %}
