/* <!DOCTYPE html> related shenanigans */
html, body { 
    height: 100%;
}

@font-face {
    font-family: Panton;
    font-weight: 400;
    src: url(../font/Panton/Panton.otf);
}
@font-face {
    font-family: Panton;
    font-weight: 600;
    src: url(../font/Panton/PantonSemiBold.otf);
}
@font-face {
    font-family: Panton;
    font-weight: 700;
    src: url(../font/Panton/PantonBold.otf);
}

body{
    padding: 0;
    margin: 0;
    font-family: Panton;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #2C3E50;
    letter-spacing: 0.5;
}
button{
    cursor: pointer;
    outline: none;
}


.LMBM-WMS{
    padding-left: 18%;
    height: 100%;
}
aside{
    position: fixed;
    background-color: #E2E2E2;
    overflow-y: auto;
    padding-bottom: 50px;
    width: 18%; 
    top: 0;
    left: 0;
    bottom: 0;
}
main{
    overflow-x: hidden;
    min-height: 100%;
    position: relative;
    margin-bottom: -92px;
}
main > :last-child{
    padding-bottom: 92px;
}

.brand{
    text-align: center;
    margin: 0;
}
.brand a{
    display: block;
    padding: 20px 18px 0;
}
.brand img{
    width: 100%;
    height: auto;
}
nav{
    margin-top: 30px;
}
nav ul{
    padding: 0;
    margin: 0;
    list-type: none;
}
nav li > a{
    display: block;
    color: #8E9DA7;
    text-decoration: none;
    padding: 9px 10px;
    padding-left: 32px;
    border-left: 8px solid #F2F2F2;
}
nav li > a:hover{
    background-color: #f8f8f8;
    border-left: 8px solid #BDC3C7;
    color: #2C3E50;
}
nav li.active > a{
    background-color: #FFFFFF;
    border-left: 8px solid #E74C3C;
    color: #2C3E50;
}
nav i{
    margin-right: 10px;
    font-size: 16px;
}
nav .sub-nav{
    margin: 0;
    background-color: #e2e2e2;
}
nav .sub-nav a{
    padding-left: 20px;
    border-left: 8px solid #e2e2e2;
}
nav > ul > li{
    position: relative;
}


.proof-of-delivery, .proof-of-delivery table{
    font-size: 11px;
}
.proof-of-delivery p{
    margin: 0;
}
.proof-of-delivery h3{
    margin: 4px 0;
}
.proof-of-delivery td, .proof-of-delivery th{
    padding: 5px 8px;
}
.proof-of-delivery section{
    padding: 10px;
}
.proof-of-delivery h2{
    text-align: center;
    font-size: 16px;
    letter-spacing: 5px;
    border: 1px solid #444;
    padding: 8px;
}
.proof-of-delivery .blank{
    width: 200px;
    border-bottom: 1px solid #444444;
    display: inline-block;
    height: 20px;
    margin-bottom: 10px;
}


.print-preview{
    padding: 30px 0 10px;
}
.print-preview .wrapper{
    width: 60%;
    min-width: 420px;
    box-sizing: border-box;
}
.picklist-details{
    margin-bottom: 20px;
}
.print-preview .order-number, .print-preview .picklist-number{
    border: 1px solid #cccccc;
    padding: 15px;
}
.print-preview .picklist-number{
    text-align: right;
}
.print-preview h3{
    margin: 5px 0 0;
    font-size: 25px;
}

.print-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.print .print-list li{
    float: left;
    width: 100%;
    margin-bottom: 25px;
}
.printx2 .print-list li{
    float: left;
    width: 50%;
    min-height: 556px;
    max-height: 556px;
}
.print, .printx2{
    padding: 0;
    font-size: 8px;
}
.other-details{
    margin-bottom: 18px;
}
.other-details p{
    margin: 0 0 10px;
}
.other-details strong{
    display: inline-block;
    width: 128px;
    text-align: left;
    padding-right: 15px;
}
.print-preview table{
    margin-bottom: 18px;
}
.print-list table{
    margin-bottom: 18px;
}
.other-details span{
    display: inline-block;
    width: 50%;
    height: 19px;
    border-bottom: 1px solid #bbbbbb;
}
.print .picklist-details{
    margin-bottom: 5px;
}
.printx2 .picklist-details{
    margin-bottom: 5px;
}
.print .order-number, .print .picklist-number{
    border: 1px solid #cccccc;
    padding: 15px;
}
.printx2 .order-number, .printx2 .picklist-number{
    border: 1px solid #cccccc;
    padding: 3px 10px 5px;
}
.print .picklist-number{
    text-align: right;
}
.printx2 .picklist-number{
    text-align: left;
}
.print span, .printx2 span{
    line-height: 8px;
}
.print h3{
    margin: 0;
    font-size: 12px;
    line-height: 14px;
}
.printx2 h3{
    margin: 0;
    font-size: 12px;
    line-height: 14px;
}
.print .wrapper{
    padding: 15px;
}
.printx2 .wrapper{
    padding: 15px;
}
.pick-status{
    position: relative;
}
.pick-status i{
    position: absolute;
    font-size: 20px;
}
.print .other-details{
    margin-bottom: 10px;
}
.printx2 .other-details{
    margin-bottom: 10px;
}
.printx2 .other-details strong{
    width: 78px;
}
.printx2 .other-details p{
    margin: 0px;
}
.printx2 .other-details span{
    height: auto;
    padding-bottom: 2px;
}
.printx2 table{
    font-size: 8px;
    margin-bottom: 10px;
}
.printx2 td, .printx2 th{
    padding: 4px 8px;
}
.printx2 table h5{
    font-size: 10px;
    margin: 0;
}
.printx2 .custom .space{
    height: 2px;
}


/*.modal{
    display: none;      
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}*/
.modal-shader{
    background-color: rgba(44, 62, 80, 0.34);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.modal-main{
    background: #fff;
    position: absolute;
    width: 100%;
    padding: 30px 0;
    top: 35%;
    text-align: center;
}
.modal-main .wrapper{
    width: 700px;
    margin: 0 auto;
}
.modal-main ul{
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
}
.modal-main li{
    padding: 8px 14px; 
    background: #f0f8ff;
    margin-bottom: 1px;
}



.top-nav{
    background-color: #2980B9;
}
.top-nav > a{
    float: left;
}
.top-nav > ul{
    margin: 0;
    list-style: none;
    padding: 0;
    float: right;
}
.top-nav li{
    float: left;
}
.top-nav li a{
    display: block;
    padding: 17px 15px;
    text-decoration: none;
    background-color: #3498DA;
    color: #2C3E50;
    height: 17px
}
.top-nav li a:hover{
    background-color: #3BA5EC;
}
.notification span{
    background-color: #ffffff;
    border-radius: 4px;
    padding: 3px 7px;
    font-size: 13px;
    margin-right: 8px;
    position: relative;
}
.account{
    position: relative;    
}
.account > a{
    cursor: pointer;
}
.account i{
    margin-left: 10px;
    font-size: 15px;
}
.account ul{
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.10);
}
.account ul li{
    width: 108px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.account ul a{
    width: 100%;
    padding: 10px 12px !important;
    background: white;
    text-align: right;
}
.account ul a:hover{
    background-color: #eeeeee;
}
.wrapper{
    padding: 0 30px;
}
.heading{
    padding: 30px 0 20px;
    margin: 0;
    background-color: #f0f8ff;
}
.heading h2{
    font-size: 26px;
    margin: 0;
}
.heading p{
    font-size: 14px;
    margin: 10px 0 0;
}


footer{
    position: relative;
    padding: 45px 0 0;
}
footer p{
    background-color: #BDC3C7;
    margin: 0;
    padding: 15px 12px;
    text-align: center;
}


.pagination{
    padding: 25px 0 0;
}
.pagination ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.pagination li{
    display: inline-block;
}
.pagination a{
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
    padding: 8px 12px;
    border-radius: 2px;
}
.pagination a:hover{
    background-color: #f2f2f2;  
}
.pagination li.active a{
    background-color: #e2e2e2;
}



.printable table{
    border: 1px solid #444444;
    border-width: 1px 0 0 1px;
}
.printable td, .printable th, .printable .space{
    border: 1px solid #444444 !important;
    border-width: 0 1px 1px 0 !important;
}


.actions{
    background-color: #f0f8ff;
    padding-bottom: 15px;
}
.actions a{
    display: inline-block;
    color: #ffffff;
    padding: 10px 14px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 600;
    margin-right: 5px;
    font-size: 13px;
}




.form{
    padding: 30px 0 0;
}
form section{
    width: 45%;
    padding-bottom: 15px;
}
form label{
    display: block;
    font-weight: 700;
    margin-bottom: 6px;
}
form input{
    width: 100%;
    border-radius: 2px;
    border: 1px solid #BDC3C7;
    padding: 8px 10px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}
form textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 8px 10px;
    border: 1px solid #BDC3C7;
    border-radius: 2px;
    resize: none;
    height: 150px;
    font-size: 14px;
    outline: none;
}
form textarea + .error{
    margin: 0;
}
form select{
    border: 1px solid #BDC3C7;
    padding: 8px 15px;
    -webkit-appearance: initial;
    border-radius: 2px;
    font-size: 14px;
    outline: none;
    width: 100%;
    background-color: #ffffff;
}
.form-submit{
    padding-bottom: 0;
    padding-top: 10px;
}
.form-submit button{
    display: inline-block;
    color: #ffffff;
    padding: 10px 14px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 500;
    margin-right: 5px;
    border: 0;
    font-size: 13px;
    text-transform: uppercase;
}
form input:focus, form textarea:focus{
    border-color: #3498DA;
}
form .error{
    margin: 5px 0 0;
    display: block;
    font-size: 12;
}
form .checkbox label{
    display: inline-block;
}
form .checkbox input[type='checkbox']{
    width: auto;
}
form .date span{
    margin: 0 -6px;
    display: block
}
form .date div{
    float: left;
    width: 50%;
    padding: 6px;
    box-sizing: border-box;
}
.inline-checkbox{
    margin-bottom: 5px;
}
.inline-checkbox input[type="checkbox"]{
    margin-right: 8px;
    width: auto;
}
.inline-checkbox label{
    margin: 0;
    display: inline-block;
    width: auto;
    top: 1px;
    position: relative;
}
.center-action{
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 5px;
}
.center-action a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 12px;
    background: #f2f2f2;
    border-radius: 2px;
    color: #666665;
}
.form-table{
    width: 80%;
    padding: 0 0 30px;
}


.submit{
    padding: 15px 0 0;
}
.submit button{
    display: inline-block;
    color: #ffffff;
    padding: 10px 14px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 600;
    margin-right: 5px;
    border: 0;
    font-size: 13px;    
}

.inventory-info{
    padding: 10px 20px;
    margin-bottom: 15px;
    background-color: #fff0f5;
    box-sizing: border-box;
}
.inventory-info ul{
    list-style-type: none;
    margin: 0;
    padding: 10px 0 0;
}
.inventory-info li{
    margin: 0 0 10px;
}
.inventory-info h3{
    margin: 0 0 5px;
    font-size: 14px;
}


.po-products{
    width: 80%;
}
.po-products > div{
    background-color: #f2f2f2;
    padding: 12px;
    border-radius: 2px;
}
.adder{
    list-style: none;
    padding: 0;
    margin: 0 -5px;
    border-radius: 2px;
}
.adder li{
    float: left;
    padding: 0 5px;
    box-sizing: border-box;
}
.adder .choose-product{
    width: 77.5%;
}
.adder .choose-quantity{
    width: 12.5%;
}
.adder .add{
    width: 10%;
}
.adder select{
    border: 1px solid #e2e2e2;
    padding: 8px 15px;
    -webkit-appearance: initial;
    border-radius: 2px;
    font-size: 13px;
    outline: none;
    width: 100%;
}
.adder input{
    border: 1px solid #bdc3c7;
    padding: 8px 15px;
    -webkit-appearance: initial;
    border-radius: 2px;
    font-size: 13px;
    outline: none;
    width: 100%;
}
.adder button{
    border: 0;
    padding: 8px 15px;
    -webkit-appearance: initial;
    border-radius: 2px;
    font-size: 13px;
    outline: none;
    width: 100%;
}

.table{
    padding: 30px 0 10px;
}
table{
    font-size: 12px;
}
th{
    text-align: left;
    background-color: #e2e2e2;
    padding: 12px;
}
td{
    padding: 9px 12px;
    border-bottom: 1px solid #e2e2e2;
    vertical-align: baseline;
}
.table select{
    border: 1px solid #e2e2e2;
    padding: 8px 15px;
    -webkit-appearance: initial;
    border-radius: 2px;
    font-size: 13px;
    outline: none;
}
.table-dropdown{
    text-align: right;
    position: relative;
}
.table-dropdown button{
    background-color: #f2f2f2;
    display: inline-block;
    color: #2C3E50;
    padding: 5px 8px;
    border-radius: 2px;
    border: 0;
    outline: none;
    font-size: 14px;
}
.table-dropdown ul{
    display: none;
    list-style: none;
    margin: 0;
    background: #f2f2f2;
    position: absolute;
    top: 33px;
    right: 7px;
    width: 150px;
    padding: 6px 0;
    border-radius: 2px;
    z-index: 1;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
.table-dropdown a{
    display: block;
    padding: 7px 12px;
    text-decoration: none;
    font-size: 12px;
    color: inherit;
    outline: none;
}
.table-dropdown a:hover{
    background-color: #2980B9;
    color: #FFFFFF;
}
table .remove{
    background-color: #f2f2f2;
    display: inline-block;
    color: #2C3E50;
    padding: 5px 8px;
    border-radius: 2px;
    border: 0;
    outline: none;
    font-size: 14px;
}
table input{
    border: 1px solid #bdc3c7;
    padding: 5px 8px;
    font-size: 16px;
    border-radius: 2px;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
}
.custom tbody td{
    background-color: #f0f8ff;
}
.custom tbody .space{
    border: 0;
    padding: 0;
    height: 12px;
    background-color: #ffffff;
}
.custom h5{
    font-size: 14px;
    margin: 0 0 5px;
}

.status{
    background-color: transparent;
    border-radius: 2px;
    color: #ffffff;
    padding: 7px 11px;
    font-size: 13px;
    width: 100%;
    text-align: center;
    border: 1px solid #444444;
    color: #444444;
    display: block;
    box-sizing: border-box;
    text-transform: uppercase;
}

.filter-slide{
    position: absolute;
    width: 450px;
    height: 100%;
    top: 0;
    right: -450px;
    z-index: 1;
}
.filter-close{
    display: inline-block;
    color: #fff;
    padding: 6px 14px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 600;
    margin-right: 5px;
    font-size: 18px;
    border: 0;
    color: #888888;
    background: #cccccc;
}
.shader{
    display: none;
    background-color: rgba(44, 62, 80, 0.34);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
.filter-slide .filter-main{
    background: #ffffff;
    width: 100%;
    padding: 20px 60px 20px 20px;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}
.filter-main > div{
    position: relative;
    height: 100%;
}
.filter-main section{
    width: 100%;
}
.filter-main label{
    display: block;
    text-transform: uppercase;
}
.filter-main form{
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.filter-main input{
    width: 100%;
}

.login, .static{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url(../../images/login-bg.jpg);
    background-size: cover;
    position: relative;
}
.login .wrapper{
    position: absolute;
    margin: auto;
    width: 380px;
    height: 508px;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 35px 30px 15px;
    background-color: rgba(255,255,255,0.65);
}
.login form{
    padding: 30px 0 0;
}
.login h1{
    margin: 0;
    text-align: center;
}
.login img{
    width: 65%;
    height: auto;
}
.login input{
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding: 9px 14px;
    border-radius: 3px;
    box-sizing: border-box;
}
.login select{
    width: 100%;
    background-color: #FFFFFF;
    border-color: #BDC3C7;
    font-size: 14px;
    padding: 9px 14px;
}
.login form section{
    width: 100%;
}
.login .submit{
    padding: 0;
}
.login button{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e74c3c+0,2980b9+100 */
    background: #e74c3c; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #e74c3c 0%, #2980b9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #e74c3c 0%,#2980b9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #e74c3c 0%,#2980b9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e74c3c', endColorstr='#2980b9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    width: 100%;
    padding: 10px 0px 12px;
    border-radius: 3px;
    font-size: 14px;
}
.login footer p{
    background: #FFFFFF;
}
.login .error{
    padding: 8px 0 0;
}


.static{
    text-align: center;
}
.static h1{
    font-size: 40px;
    margin-top: 40px;
}
.static img{
    width: 200px;
    height: auto;
}
.static .wrapper{
    position: absolute;
    margin: auto;
    width: 750px;
    height: 315px;
    top: -115px;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
}



.membership{
    list-style: none;
    margin: 0;
    padding: 0;
}
.membership li{
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    position: relative;
    margin-bottom: 12px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}
.membership li > div > section{
    width: 100%;
}
.membership li > div section:first-child select{
    width: 100%;
}
.membership li > div section:last-child{
    padding: 0;
}
.membership li > div section:last-child input[type="checkbox"]{
    width: 6%;
    margin: 0;
}
.membership li > div section:last-child label{
    width: 90%;
    display: inline-block;
}
.delete-membership{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 0;
    color: #BDC3C7;
    padding: 10px 12px;
    font-size: 18px;
}


.membership-v2{
    list-style: none;
    margin: 0;
    padding: 0;
}
.membership-v2 li{
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    position: relative;
    margin-bottom: 12px;
    width: 100%;
    box-sizing: border-box;
}
.membership-v2 .select-warehouse{
    padding: 15px;
    background-color: #f2f2f2;
}
.membership-v2 .select-warehouse section{
    padding-bottom: 0;
    width: 100%;
}
.membership-v2 .select-warehouse select{
    width: 45%;
}
.membership-v2 .select-role{
    padding: 15px;
}
.membership-v2 .select-role .inline-checkbox{
    width: 100%;
    margin: 0;
    padding-bottom: 8px;
}
.membership-v2 .select-role .inline-checkbox:last-child{
    padding-bottom: 0;
}




.LMBM-WMS .select2-container .select2-selection--single{
    height: 34px;
    border: 1px solid #bdc3c7;
}
.LMBM-WMS .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 4px;
    right: 5px;
}

.item-tags ul{
    list-style: none;   
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 0;
}
.item-tags li{
    float: left;
    width: 50%;
    height: 127px;
    padding: 10px 8px 10px;
    text-align: center;
    border-bottom: 0;
    box-sizing: border-box;
}
.item-tags ul li:nth-child(n){
    padding-right: 12px;
    padding-left: 6px;
}
.item-tags ul li:nth-child(2n+1){
    padding-left: 12px;
    padding-right: 5px;
}
.item-tags ul li:last-child{
    margin-bottom: 0;
    height: 113px;
}
.item-tags ul li:nth-last-child(2){
    margin-bottom: 0;
    height: 113px;   
}
.item-tags li > div{
    margin: 0 auto;
}
.item-tags img{
    display: block;
}
.item-tags p{
    margin: 0;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;    
}

.purchase-order-print{
    font-size: 11px;
}
.purchase-order-print section{
    padding: 15px 0 10px;
}
.purchase-order-print table{
    font-size: 10px;
}
.purchase-order-print td, .purchase-order-print th{
    padding: 4px 8px;
}
.purchase-order-print h2{
    text-align: center;
    font-size: 16px;
    letter-spacing: 5px;
    border: 1px solid #444444;
    padding: 8px;
}
.purchase-order-print h3{
    margin: 0;
    font-size: 13px;
}
.purchase-order-print p{
    margin: 0;
}
.purchase-order-print table h5{
    font-size: 12px;
}
.purchase-order-print .bar{
    border: 1px solid #444444;
    padding: 15px;
}
.purchase-order-print .bar div{
    margin-bottom: 5px;
}
.purchase-order-print .blank{
    width: 200px;
    border-bottom: 1px solid #444444;
    display: inline-block;
    height: 20px;
    margin-bottom: 10px;
}





.storage-location{
    border: 2px solid #3ba5ec;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 2px;
    color: #3ba5ec;
    margin-right: 8px;
}
.mobile-location{
    border: 2px solid #67d03b;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 2px;
    color: #67d03b;
    margin-right: 8px;
}

.border-red{
    border-color: #E74C3C;
}
.border-blue{
    border-color: #3498da;
}
.border-gray{
    border-color: #444444;   
}
.red{
    background-color: #E74C3C;
}
.blue{
    background-color: #3498da;    
}
.gray{
    background-color: #BDC3C7;
}
.font-red{
    color: #E74C3C;
}
.font-blue{
    color: #3498da;
}
.font-gray{
    color: #444444;
}
.font-white{
    color: #ffffff;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.hidden{
    visibility: hidden;
}
.float-left{
    float: left;
}
.no-border{
    border: 0;
}
.float-right{
    float: right;
}
.clearfix:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.column-2 {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.message-box.green {
    width: 600px;
    color: #4F8A10;
    background-color: #DFF2BF;
    margin: 0 20px;
    padding: 0px 10px;
}
.loader{position:fixed;background-color:rgba(0,0,0,0.8);top:0;left:0;right:0;bottom:0;z-index:20000}.loader img{position:absolute;margin:auto;top:0;left:0;bottom:0;right:0}