<section class="filter-slide">
    <div class="filter-main">
        <button class="filter-close"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
        <div>
            <form action="">
                <section>
                    <label for="">Status</label>
                    <select name="status" id="">
                        <option value="">STATUS</option>
                        {% for status in inventoryStatus %}
                            <option value="{{ status.id }}"> {{ status.name }} </option>
                        {% endfor %}
                    </select>
                </section>
                <section>
                    <label for="">Tag</label>
                    <input type="text" name="tag">
                </section>
                <section>
                    <label for="">PurchaseOrder</label>
                    <input type="text" name="purchaseOrder">
                </section>
                <section>
                    <label for="">SKU</label>
                    <input type="text" name="clientsku">
                </section>
                <section>
                    <label for="">Order Number</label>
                    <input type="text" name="orderNumber">
                </section>
                <section>
                    <label for="">Storage Location</label>
                    <select name="storageLocation" id="">
                        <option value="">STORAGE</option>
                        {% for storage in storageLocations %}
                            <option value="{{ storage.id }}"> {{ storage.name }} </option>
                        {% endfor %}
                    </select>
                </section>
                <section>
                    <label for="">Mobile Location</label>
                    <select name="mobileLocation" id="">
                        <option value="">MOBILE</option>
                        {% for mobileLocation in mobileLocations %}
                            <option value="{{ mobileLocation.id }}"> {{ mobileLocation.name }} </option>
                        {% endfor %}
                    </select>
                </section>
                <section class="form-submit">
                    <button class="red">SEARCH</button>
                    <button class="red" name="export" value="ok">EXPORT</button>
                    <button class="filter-cancel gray">CANCEL</button>
                </section>
            </form>
        </div>
    </div>
</section>