{% set activeNav = "Inventory" %}
{% extends 'BranchBundle::Inventory/base.html.twig' %}

{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            
            {% include 'BranchBundle::ads.html.twig' %} 

            <form action="{{ path('branch_inventory_export') }}" method="POST" style="">
                <section>
                    <label for="">Date Start</label>
                    <input type="text" name="start" value="{{ "now"|date("Y-m-d") }}" required class="datepicker">
                </section>
                <section>
                    <label for="">Date End</label>
                    <input type="text" name="end" value="{{ "now"|date("Y-m-d") }}" required class="datepicker">
                </section>
                
                <section>
                    <label for="">Client</label>
                    <select name="client">
                        <option value=""> ALL </option>
                        {% for client in clients %}
                            <option value="{{ client.id }}"> {{ client.name }} </option>
                        {% endfor %}
                        
                    </select>
                </section>
                <section class="form-submit">
                    <button type="submit" name="export" value="export" class="red">EXPORT</button>
                    
                </section>
            </form>
        </div>
    </section>

    
{% endblock %}
