{% set activeNav = "Inventory" %}
{% extends 'BranchBundle::Inventory/base.html.twig' %}

{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <a class="filter red" href="">FILTER</a>
            <a class="red" href="{{ path('branch_inventory_export_form') }}">EXPORT</a>
            <a class="red" href="/templates/serial-template.xls"> Download Template </a>
            <label class="action red" style="padding: 12px;color: white;">
                IMPORT <input type="file" hidden @change="importFile($event)" multiple>
            </label>


            <ul v-if="results.length > 0">
                <li> Tag Id Not Found</li>
                <li v-for="id in results">
                    <%= id %>
                </li>
            </ul>
        </div>
    </section>
    
    {{ include('BranchBundle::Inventory/_filter.html.twig') }}

    <section class="table custom">
        
        {% include 'BranchBundle::ads.html.twig' %} 

        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>TAG</th>
                    <th>LMBM SKU</th>
                    <th>CLIENT SKU</th>
                    <th>SUPPLIER SKU</th>
                    <th>STORAGE LOCATION</th>
                    <th>MOBILE LOCATION</th>
                    <th>ORDER NO.</th>
                    <th>PO NO.</th>
                    <th>COGP</th>
                    <th class="text-right">STATUS</th>
                </tr>
                {% for inventory in pagination %}
                    <tbody>
                        <tr><td colspan="7" class="space"></td></tr>
                        <tr>
                            <td>{{ inventory.tag }}</td>
                            <td>{{ inventory.product.sku }}</td>
                            <td>{{ inventory.product.clientSku }}</td>
                            <td>{{ inventory.product.supplierSku }}</td>
                            <td>{{ inventory.storageLocation.name }}</td>
                            <td>{{ inventory.mobileLocation ? inventory.mobileLocation.name : 'N/A' }}</td>
                            <td>{{ inventory.orderNumber ? inventory.orderNumber : 'N/A' }}</td>
                            <td>{{ inventory.purchaseOrder.purchaseOrderNumber }}</td>
                            <td>&#8369; {{ inventory.costOfGoodsPurchased }}</td>
                            <td>
                                <span class="{{ inventory.inventoryStatus.name }} status border-red font-red">{{ inventory.inventoryStatus.name }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="no-border">
                                <h5>{{ inventory.product.productDescription }}</h5>
                            </td>
                            <td colspan="6" class="no-border">
                                <h5>{{ inventory.warehouse.name }}</h5>
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </section>
    {{ knp_pagination_render(pagination) }}

    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?jsqueeze"
        'node_modules/vue/dist/vue.min.js'
        'node_modules/vue-resource/dist/vue-resource.min.js'
        'js/src/Branch/Inventory/importserial.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
