{% set activeNav = "InventoryReport" %}
{% extends 'BranchBundle::Inventory/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
        <style type="text/css">
            #wrapper {
              /*margin-left: 500px;*/
            }
            #content {
                float: left;
                width: 45%;
                background-color: #e2e2e2;
                margin: 10px 10px;
                padding: 10px 10px;
                line-height: 5px;
            }
            #sidebar {
              float: left;
              width: 500px;
              margin-left: -500px;
              background-color: #FFA;
            }

            #content span {
                font-weight: bold;
            }

            #cleared {
              /*clear: both;*/
            }
        </style>
{% endblock %}


{% block moduleContent %}
    <section class="form">
        <div class="wrapper">
            <form method="POST">
                <div class="grid grid-pad">
                    <div class="col-6-12">
                        <section>
                            <label for="">CLIENT</label>
                            <select name="client">
                                <option value="-1">SELECT CLIENT</option>
                                {% for client in clients %}
                                    <option value="{{ client.id }}"> {{ client.name }} </option>
                                {% endfor %}
                            </select>
                        </section>
                        <button type="submit" class="red">SUBMIT</button>
                    </div>
                </div>

            </form>
        </div>
    </section>
    <section class="table">

        {% include 'BranchBundle::ads.html.twig' %} 
        
        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>SKU</th>
                    <th>DESCRIPTION</th>
                    <th>INBOUNDED</th>                    
                    <th>ALLOCATED</th>
                    <th>QUARANTINED</th>
                    {# <th>PICKED</th>
                    <th>PACKED</th> #}                    
                    <th>DISPATCHED</th>
                    <th>ACTUAL</th>
                </tr>

            {% for product in list %}
                <tr>
                    <td>{{ product.info.client_sku }}</td>
                    <td>{{ product.info.product_description }}</td>
                    <td> {{ product.info.productCount }} </td>
                    <td>{{ product.countOnHand.allocated }}</td>
                    <td> {{ product.countOnHand.quaranteed }} </td>
                    {# <td> {{ product.countOnHand.picked }} </td>
                    <td> {{ product.countOnHand.packed }} </td> #}
                    <td> {{ product.countOnHand.dispatch }} </td>
                    <td>{{ product.countOnHand.onHand }}</td>                    
                </tr>
            {% endfor %}
        	</table>
        </div>

    </section>

    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){
            $('.show').on('click',function(){
                console.log($(this));
                $id = $(this).data('id');
                console.log($id);
                $("#order_"+ $id).show();
            });
        });
    </script>
{% endblock %}
