{% extends 'BranchBundle::Warehouse/base.html.twig' %}

{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <a class="red" href="{{ path('branch_warehouse_add') }}">ADD WAREHOUSE</a>
            <a class="red" href="#">FILTER</a>
        </div>
    </section>
    <section class="table">
        
        {% include 'BranchBundle::ads.html.twig' %} 

        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>Warehouse Name</th>
                    <th>Contact Number</th>
                    <th>Address</th>
                    <th></th>
                </tr>
                {% for warehouse in pagination %}
                    <tr>
                        <td>{{ warehouse.name }}</td>
                        <td>{{ warehouse.contactNumber }}</td>
                        <td>{{ warehouse.address }}</td>
                        <td class="table-dropdown">
                            <button><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                            <ul>
                                <li><a href="{{ path('branch_warehouse_update', {'warehouseId': warehouse.Id}) }}">EDIT</a></li>
                                <li><a href="{{ path('branch_warehouse_delete', {'warehouseId': warehouse.Id}) }}">DELETE</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    {{ knp_pagination_render(pagination) }}

{% endblock %}
