{% extends 'BranchBundle::UnservedOrder/base.html.twig' %}

{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <a class="red" href="">PRINT</a>
            <a class="red" href="#">FILTER</a>
        </div>
    </section>
    <section class="filter-slide">
        <div class="filter-main">
            <button class="filter-close"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
            <div>
                <form action="">
                    <section>
                        <label for="">Status</label>
                        <select name="" id="">
                            <option value="">INBOUNDED</option>
                            <option value="">INBOUNDED</option>
                        </select>
                    </section>
                    <section>
                        <label for="">Picklist Number</label>
                        <input type="text">
                    </section>
                    <section>
                        <label for="">Order Number</label>
                        <input type="text">
                    </section>
                    <section>
                        <label for="">Client</label>
                        <input type="text">
                    </section>
                    <section class="date">
                        <span class="clearfix">
                            <div>
                                <label for="">Date From</label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="">Date To</label>
                                <input type="text">
                            </div>
                        </span>
                    </section>
                    <section>
                        <label for="">Uploaded By</label>
                        <select name="" id="">
                            <option value=""></option>
                        </select>
                    </section>
                    <section class="form-submit">
                        <button class="red">SEARCH</button>
                        <button class="filter-cancel gray">CANCEL</button>
                    </section>
                </form>
            </div>
        </div>
    </section>
    <section class="table">
        
        {% include 'BranchBundle::ads.html.twig' %} 

        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>PICKLIST NO</th>
                    <th>ORDER NO</th>
                    <th>CLIENT</th>
                    <th>DATE UPLOADED</th>
                    <th>UPLOADED BY</th>
                    <th>STATUS</th>
                    <th></th>
                </tr>
                {% for picklist in pagination %}
                    <tr>
                        <td>{{ picklist.picklistNumber }}</td>
                        <td>{{ picklist.orderNumber }}</td>
                        <td>{{ picklist.client.name }}</td>
                        <td>{{ picklist.dateCreated|date('Y-m-d H:i:s') }}</td>
                        <td>
                            {% if picklist.createdBy.lastName is defined %}
                                {{ picklist.createdBy.lastName }}
                            {% endif %}

                        </td>
                        <td><span class="status border-blue font-blue">INCOMPLETE</span></td>
                        <td class="table-dropdown">
                            <button><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                            <ul>
                                <li><a href="{{ path('branch_unserved_order_view', {'picklistNumber': picklist.picklistNumber}) }}">VIEW</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    {{ knp_pagination_render(pagination) }}

{% endblock %}
