{% extends 'BranchBundle::UnservedOrder/base.html.twig' %}

{% block moduleContent %}
    <section class="table">
        {% include 'BranchBundle::ads.html.twig' %} 
        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>CLIENT SKU</th>
                        <th>PRODUCT DESCRIPTION</th>
                        <th>NEEDED QUANTITY LEFT</th>
                    </tr>
                    {% for clientSku, data in diff %}
                        <tr>
                            <td>{{ clientSku }}</td>
                            <td>{{ data.description }}</td>
                            <td>{{ data.requiredQuantity }}</td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </section>

{% endblock %}
