{% extends 'BranchBundle::PurchaseOrder/base.html.twig' %}

{% block moduleContent %}
    <style type="text/css">
    .redflag {
        border-left: 5px solid #e71f1f;
    }
    .greenflag {
        border-left: 5px solid #15ff1c;
    }
    </style>
    <section class="actions">
        <div class="wrapper">
            <a class="red" href="{{ path('branch_purchase_order_add') }}">ADD PURCHASE ORDER</a>
            <a class="red" href="{{ path('branch_purchase_order_product_import') }}">IMPORT</a>
            <a class="red" href="/templates/purchase_order_template.xlsx">DOWNLOAD TEMPLATES</a>
            <a class="filter red" href="#">FILTER</a>
            <a class="red" href="{{ path('branch_purchase_order_print_sticker') }}">FOR PRINTING STICKER</a>
        </div>
    </section>
    <section class="filter-slide">
        <div class="filter-main">
            <button class="filter-close"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
            <div>
                <form action="">
                    <section>
                        <label for="">Purchase Order Number</label>
                        <input type="text" name="purchaseOrder">
                    </section>
                    <section>
                        <label for="">Reference No</label>
                        <input type="text" name="referenceNo">
                    </section>
                    <section>
                        <label for="">Client</label>
                        <select name="client" id="">
                            <option value="">SELECT CLIENT</option>
                            {% for client in clients %}
                                <option value="{{ client.id }}"> {{ client.name }} </option>
                            {% endfor %}
                        </select>
                    </section>
                    <section class="date">
                        <span class="clearfix">
                            <div>
                                <label for="">Date From</label>
                                <input type="text" class="datepicker" name="datefrom">
                            </div>
                            <div>
                                <label for="">Date To</label>
                                <input type="text" class="datepicker" name="dateto">
                            </div>
                        </span>
                    </section>
                    <section class="form-submit">
                        <button class="red">SEARCH</button>
                        <button class="filter-cancel gray">CANCEL</button>
                    </section>
                </form>
            </div>
        </div>
    </section>
    <section class="table">
        
        {% include 'BranchBundle::ads.html.twig' %} 

        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>PO Number</th>
                    <th>Reference No</th>
                    <th>Client</th>
                    <th>Supplier</th>
                    <th>Payment Type</th>
                    <th>Prepared By</th>
                    <th>Remarks</th>
                    <th></th>
                </tr>
                {% for purchaseOrder in pagination %}
                    <tr>
                        <td class="{{ currentInboundState.isPOalreadyInbounded(purchaseOrder) }}">{{ purchaseOrder.purchaseOrderNumber }}</td>
                        <td>{{ purchaseOrder.referenceNo }}</td>
                        <td>{{ purchaseOrder.client.name }}</td>
                        <td>{{ purchaseOrder.supplier.name }}</td>
                        <td>{{ purchaseOrder.paymentType.name }}</td>
                        <td>{{ purchaseOrder.created() }}</td>
                        <td>{{ purchaseOrder.remarks }}</td>
                        <td class="table-dropdown">
                            <button><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                            <ul>
                                <li><a href="{{ path('branch_purchase_order_view', {'purchaseOrderId': purchaseOrder.id}) }}">VIEW</a></li>
                                <li><a href="{{ path('branch_purchase_order_print', {'purchaseOrderNumber': purchaseOrder.purchaseOrderNumber}) }}">PRINT</a></li>
                                {% if purchaseOrder.file|length > 0 %}
                                    <li><a href="/documents/{{ purchaseOrder.file }}">ATTACHED FILE</a></li>
                                {% endif %}
                                <li><a href="{{ path('branch_inbounding_printv2', {'purchaseOrder': purchaseOrder.id}) }}">PRINT STICKER</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    {{ knp_pagination_render(pagination) }}

{% endblock %}
