<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
        <title>{{ purchaseOrder.purchaseOrderNumber }}</title>
        {% block stylesheets %}
            {% stylesheets filter="cssrewrite,scssphp"
                "scss/font-awesome-4.6.3/src/font-awesome.scss"
                "css/src/base.css"
            %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="-webkit-print-color-adjust:exact;">
        <section class="purchase-order-print">
            <div class="wrapper">
                <h2>PURCHASE ORDER</h2>
                <section class="clearfix">
                    <div class="float-left bar">
                        {{ render_barcode(purchaseOrder.purchaseOrderNumber, 'C128', 2, 50)|raw }}
                        <h3>{{ purchaseOrder.purchaseOrderNumber }}</h3>
                        <h3>PO Date: {{ purchaseOrder.dateCreated|date('Y-m-d H:i:s') }}</h3>
                    </div>
                    <div class="float-right text-right">
                        <img src="{{ asset('images/lmbm-v-logo.svg') }}" width="120" alt="">
                    </div>
                </section>
                <section class="table printable">
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tr>
                            <th colspan="2">CLIENT NAME</th>
                        </tr>
                        <tr>
                            <td colspan="2">{{ purchaseOrder.client.name }}</td>
                        </tr>
                        <tr>
                            <th width="50%">SUPPLIER NAME</th>
                            <th width="50%">SHIP TO</th>
                        </tr>
                        <tr>
                            <td>{{ purchaseOrder.supplier.name }}</td>
                            <td rowspan="3">{{ purchaseOrder.warehouse.address }}</td>
                        </tr>
                        <tr>
                            <th>SUPPLIER ADDRESS</th>
                        </tr>
                        <tr>
                            <td>{{ purchaseOrder.supplier.address }}</td>
                        </tr>
                        <tr>
                            <th>CONTACT PERSON</th>
                            <th>PAYMENT TYPE</th>
                        </tr>
                        <tr>
                            <td>{{ purchaseOrder.supplier.contactPerson }}</td>
                            <td>{{ purchaseOrder.paymentType.name }}</td>
                        </tr>
                        <tr>
                            <th>CONTACT NUMBER</th>
                            <th>P.O. NOTE</th>
                        </tr>
                        <tr>
                            <td>{{ purchaseOrder.supplier.contactNumber }}</td>
                            <td>{{ purchaseOrder.remarks }}</td>
                        </tr>
                    </table>
                </section>
                <section class="table printable custom">
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tr>
                            <th>QTY</th>
                            <th>SUPPLIER SKU</th>
                            <th>LMBM SKU</th>
                            <th>COGP</th>
                        </tr>
                        {% set total = 0 %}
                        {% for item in purchaseOrder.products %}
                            {% set total = total + (item.quantity * item.costOfGoodsPurchased) %}
                            <tbody>
                                <tr><td colspan="5" class="space"></td></tr>
                                <tr>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.product.supplierSku }}</td>
                                    <td>{{ item.product.sku }}</td>
                                    <td>{{ item.costOfGoodsPurchased|number_format(2, '.', ',') }}</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="no-border"><h5>{{ item.product.productDescription }}</h5></td>
                                </tr>
                            </tbody>
                        {% endfor %}
                        <tbody>
                            <tr><td colspan="5" class="space"></td></tr>
                            <tr>
                                <td colspan="3" class="text-right no-border"><strong>Total</strong></td>
                                <td class="text-right"><strong>{{ total|number_format(2, '.', ',') }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <br>
                <h3>Prepared by</h3>
                <span class="blank">{{ purchaseOrder.createdBy.fullname }}</span>
                <h3>Recieved by</h3>
                <span class="blank"></span>
                <h3>Date</h3>
                <span class="blank"></span>
            </div>
        </section>
    </body>
</html>
