{% extends 'BranchBundle::PurchaseOrder/base.html.twig' %}

{% block moduleContent %}

    <section class="form">
        <div class="wrapper">
            <form action="" method="POST">
                <section class="date">
                    <span class="clearfix">
                        <div>
                            <label for="">Tag Ids</label>
                            <textarea name="tags" style="width: 500px">
                                
                            </textarea>
                        </div>
                        
                    </span>
                </section>
                <section class="form-submit">
                    <button class="red">SEARCH</button>
                </section>
            </form>
        </div>
    </section>
{% endblock %}
