{% macro product(product) %}
    <tr id="row-__id__">
        <td class="desc">
            {{ form_widget(product.product, {'attr':{'style': 'display: none;'}}) }}
            {% if product.vars.value is not null %}
                {{ product.vars.value.product.productDescription }}
            {% else %}
                __desc__
            {% endif %}
        </td>
        <td class="qty">
            {{ form_widget(product.quantity, {'attr':{'style': 'display: none;'}}) }}
            {% if product.quantity.vars.value != '' %}
                {{ product.quantity.vars.value }}
            {% else %}
                __qty__
            {% endif %}
        </td>
        <td class="cogp">
            {{ form_widget(product.costOfGoodsPurchased, {'attr':{'style': 'display: none;'}}) }}
            {% if product.costOfGoodsPurchased.vars.value != '' %}
                {{ product.costOfGoodsPurchased.vars.value }}
            {% else %}
                __cogp__
            {% endif %}
        </td>
        <td class="text-right">
            <button class="remove product-remove" data-row="row-__id__">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </td>
    </tr>
{% endmacro %}
