<div id="ex1" class="modal modalform" style="display:none">
    <h3 class="header"> ADD REMARKS </h3>
    <div class="modal-content">            
        <form enctype="multipart/form-data">
            <section>
                <label for="">REMARKS</label>
                <input type="text" name="remarks" id="remarks">
            </section>
            <section class="form-submit">
                <button class="red" @click="save($event).prevent()">SAVE</button>
            </section>
        </form>
    </div>
</div>