{% extends 'BranchBundle::Billing/base.html.twig' %}
{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <form action="" method="POST" style="">
                <section>
                    <label for="">Date Start</label>
                    <input type="text" name="start" value="{{ "now"|date("Y-m-d") }}" required class="datepicker">
                </section>
                <section>
                    <label for="">Date End</label>
                    <input type="text" name="end" value="{{ "now"|date("Y-m-d") }}" required class="datepicker">
                </section>
                <section>
                    <label for="">Field</label>
                    <select name="column">
                        <option value="dateInbound">Inbounded</option>
                        <option value="datePick">Picked</option>
                        <option value="datePack">Packed</option>
                        <option value="insurance">Insurance</option>
                        <option value="storage">Storage Location</option>
                        <option value="all">All</option>
                    </select>
                </section>
                <section>
                    <label for="">Client</label>
                    <select name="client">
                        {% for client in clients %}
                            <option value="{{ client.id }}"> {{ client.name }} </option>
                        {% endfor %}
                        
                    </select>
                </section>
                <section class="form-submit">
                    <button type="submit" class="red">SUMMARY</button>
                    <button type="submit" name="export" value="export" class="red">EXPORT</button>
                    <button type="submit" name="save" value="save" class="red">SAVE BILLING</button>
                </section>
            </form>
        </div>
    </section>

{% endblock %}
