<section class="print-preview">
    <div class="wrapper">
        <div class="picklist-details clearfix">
            <div class="order-number float-left">
                <span>ORDER NUMBER</span>
                <h3>{{ aggregate.orderNumber }}</h3>
            </div>
            <div class="picklist-number float-right">
                <span>PICKLIST NUMBER</span>
                <h3>{{ aggregate.picklistNumber }}</h3>
            </div>
        </div>
        <div class="other-details">
            <p><strong>CLIENT NAME</strong><span>{{ aggregate.client.name }}</span></p>
            <p><strong>CUSTOMER NAME</strong><span>{{ aggregate.orderDetails.consignee }}</span></p>
        </div>
        <table class="custom" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <th>TAG</th>
                <th>SKU</th>
                <th>STORAGE LOC</th>
                <th>MOBILE LOC</th>
            </tr>
            {% for listing in aggregate.inventoryListing %}
            <tbody>
                <tr><td colspan="6" class="space"></td></tr>
                <tr>
                    <td>{{ listing.inventory.tag }}</td>
                    <td>{{ listing.inventory.product.sku }}</td>
                    <td>{{ listing.inventory.storageLocation.name }}</td>
                    <td>{{ listing.inventory.mobileLocation ? listing.inventory.mobileLocation.name : 'N/A' }}</td>
                </tr>
                <tr>
                    <td colspan="6" class="no-border"><h5>{{ listing.inventory.product.productDescription }}</h5></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <div class="other-details">
            <p><strong>PRINTED BY</strong><span>
                {% if app.user.firstName is defined %}
                    {{ app.user.firstName ~ ' ' ~ app.user.lastName }}
                {% else %}
                    {{ app.user.contactPerson }}
                {% endif %}                
            </span></p>
            <p><strong>PICKED BY</strong><span>&nbsp;</span></p>
        </div>
    </div>
</section>
