<li>
    <div class="wrapper">
        <div class="picklist-details clearfix">
            <div class="picklist-number float-left">
                <span>PICKLIST NUMBER</span>
                <h3>{{ render_barcode(aggregate.picklistNumber, 'C128', 1.5, 30)|raw }}</h3>
                <h3>{{ aggregate.picklistNumber }}</h3>
            </div>
            {% if aggregate.reprint %}
                <div class="picklist-number float-right">
                    <h3>REPRINT</h3>
                </div>
            {% endif %}
        </div>
        <div class="other-details">
            <p><strong>CLIENT NAME</strong><span>{{ aggregate.client.name }}</span></p>
            <p><strong>CUSTOMER NAME</strong><span>{{ aggregate.orderDetails.consignee }}</span></p>
            <p><strong>ORDER NUMBER</strong><span>{{ aggregate.orderNumber }}</span></p>
        </div>
        <table class="custom" width="100%" cellpadding="0" cellspacing="0" class="custom">
            <tr>
                <th>TAG</th>
                <th>SKU</th>
                <th>STORAGE LOC</th>
                <th>MOBILE LOC</th>
            </tr>
            {% for listing in aggregate.inventoryListing %}
            <tbody>
                <tr><td colspan="6" class="space"></td></tr>
                <tr>
                    <td>{{ listing.inventory.tag }}</td>
                    <td>{{ listing.inventory.product.sku }}</td>
                    <td>{{ listing.inventory.storageLocation.name }}</td>
                    <td>{{ listing.inventory.mobileLocation ? listing.inventory.mobileLocation.name : 'N/A' }}</td>
                </tr>
                <tr>
                    <td colspan="6" class="no-border"><h5>{{ listing.inventory.product.productDescription }}</h5></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <div class="other-details">
            <p><strong>PRINTED BY</strong><span>{{ app.user.firstName ~ ' ' ~ app.user.lastName }}</span></p>
            <p><strong>PICKED BY</strong><span>&nbsp;</span></p>
        </div>
    </div>   
</li>  
