{% extends 'BranchBundle::CycleCount/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite,scssphp' 'css/src/print.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">

        <style type="text/css">
            form section {
                width: 100%;
            }
            table {
                width: 500px;
            }
            .notif p {
                float: left;
                margin-left: 20px;
                font-weight: 800;
                font-size: 14px;    
            }

        </style>
    {% endstylesheets %}
{% endblock %}


{% block moduleContent %}
    <section class="form">
        <div class="wrapper">
            <form>
                <div class="grid grid-pad">
                    <div class="col-6-12">
                        <section>
                            <label for="">Client</label>
                            <select name="clientId" id="clientId">
                                {% for client in clients %}
                                    <option value="{{ client.id }}"> {{ client.name }} </option>
                                {% endfor %}
                            </select>
                        </section>

                        <section>
                            <label for="">Storage Location</label>
                            <select name="storageloc" id="storageloc">
                                <option value="-1">SELECT STORAGE LOCATION</option>
                                {% for storageLocation in storageLocations %}
                                    <option value="{{ storageLocation.id }}"> {{ storageLocation.name }} </option>
                                {% endfor %}
                            </select>
                        </section>

                        <section>
                            <label for="">Mobile Location (if any)</label>
                            <select name="mobileloc" id="mobileloc">
                                <option value="-1">SELECT MOBILE LOCATION</option>
                                {% for mobileLocation in mobileLocations %}
                                    <option value="{{ mobileLocation.id }}"> {{ mobileLocation.name }} </option>
                                {% endfor %}
                            </select>
                        </section>

                        <section>
                            <label for="">SCAN TAG ID</label>
                            <input name="tagid" type="text" v-on:keyup.enter="scanTag($event)">
                        </section>



                    </div>
                
                    <div class="col-6-12">
                        <section class="table custom" v-if="data.length > 0">
                            <div class="wrapper">
                                <table width="100%" cellpadding="0" cellspacing="0" style="display: table;">
                                    <tr>
                                        <th>TAG</th>
                                        <th>STORAGE LOCATION</th>
                                        <th>MOBILE LOCATION</th>
                                        <th>STATUS</th>
                                    </tr>
                                        
                                        <tbody v-for="(rs, key) in data">
                                            <tr>
                                                <td><%= rs.tag %></td>
                                                <td><%= rs.storageloc %></td>
                                                <td><%= rs.mobileloc %></td>
                                                <td><%= rs.status %></td>
                                            </tr>
                                        </tbody>
                                    
                                </table>
                            </div>
                        </section>


                        <section class="form-submit">
                            <button class="red" style="visibility: hidden;" @click="hiddednSave($event)"> SAVE </button>
                            <button class="red" @click="saveCycle($event)"> SAVE </button>
                            <button class="red" @click="resetCycle($event)"> RESET </button>
                        </section>
                    </div>
                </div>

                <hr>
                <div v-if="results.length > 0">
                    <div class="notif">
                        <p style="margin-left: 100px;">RIGHT: <%= correct %> </p>
                        <p>WRONG: <%= wrong %> </p>
                        <p>TIME DURATION: <%= diffInMin %>  min, and <%= diffInSec %> sec </p>
                    </div>

                    <div class="grid grid-pad">
                        <div class="col-5-12">
                            <section class="table custom">
                                <div class="wrapper">
                                    <table width="100%" cellpadding="0" cellspacing="0" style="display: table;">
                                        <tr>
                                            <th>TAG</th>
                                            <th>STORAGE LOCATION</th>
                                            <th>MOBILE LOCATION</th>
                                            <th>STATUS</th>
                                            <th></th>
                                        </tr>
                                            
                                            <tbody v-for="(rs, key) in results">
                                                <tr>
                                                    <td><%= rs.tag %></td>
                                                    <td><%= rs.storageloc %></td>
                                                    <td><%= rs.mobileloc %></td>
                                                    <td><%= rs.status %></td>
                                                    <td>
                                                        <i v-if="rs.corrected == true" class="font-red fa fa-times" aria-hidden="true"></i>
                                                        <i v-if="rs.corrected == false" class="font-blue fa fa-check" aria-hidden="true"></i>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                    <section class="table custom">
                        <div class="wrapper">
                            <p style="margin-left:100px">REMAINING</p>
                            <table width="100%" cellpadding="0" cellspacing="0" style="display: table;">
                                <tr>
                                    <th>TAG</th>
                                    <th>STORAGE LOCATION</th>
                                    <th>MOBILE LOCATION</th>
                                    <th>SKU</th>
                                    <th>STATUS</th>
                                </tr>
                                    
                                    <tbody v-for="(rs, key) in listSave">
                                        <tr>
                                            <td><%= rs.tag %></td>
                                            <td><%= rs.storage %></td>
                                            <td><%= rs.mobile %></td>
                                            <td><%= rs.sku %></td>
                                            <td><%= rs.status %></td>
                                        </tr>
                                    </tbody>
                                
                            </table>
                        </div>
                    </section>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?jsqueeze"
        'js/src/components/vue.min.js'
        'js/src/components/vue-resource.min.js'
        'js/src/Branch/vuejs/cyclecount.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}