{% extends 'BranchBundle::CycleCount/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
        <style type="text/css">
            .notif p {
                float: left;
                margin-left: 20px;
                font-weight: 800;
                font-size: 14px;    
            }
            .close {
                float: left;
                margin-left: 16px;
                margin-top: 8px;
                border: none;
                padding: 8px;
                color: white;
            } 
        </style>

{% endblock %}

{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <a class="red" href="{{ path('branch_cyclecount_index') }}">ADD CYCLECOUNT</a>
        </div>
    </section>
    
    <div v-if="close == false">
        <section class="table">
            <div class="wrapper">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>DATE</th>
                        <th>CYCLE COUNT</th>
                        <th> SKU's </th>
                        <th>STORAGE LOCATION</th>
                        <th>TIME DURATION</th>
                        <th>CREATED BY</th>
                        <th>ACCURACY</th>
                        <th>DETAILS</th>
                        
                    </tr>
                    {% for cyclecount in pagination %}
                        <tr>
                            <td>{{ cyclecount.dateCreated|date('Y-m-d H:i:s') }}</td>
                            <td>{{ cyclecount.cyclecount }}</td>
                            <td> <span> {{ cyclecount.getSkuListCollection() }} </span> </td>

                            <td>{{ cyclecount.storageLocation ? cyclecount.storageLocation.name : '' }}</td>
                            <td>{{ cyclecount.diffDuration }}</td>
                            <td>{{ cyclecount.createdBy.fullName }}</td>
                            <td>{{ cyclecount.checkAccuracy() }}</td>
                            <td class="table-dropdown">
                                <button><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                                <ul>
                                    <li><a data-link="{{ path('branch_cyclecount_view', {'id': cyclecount.id}) }}" @click="viewDetails($event)">VIEW</a></li>
                                    <li><a href="{{ path('branch_cyclecount_export', {'id': cyclecount.id}) }}">EXPORT</a></li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </section>

        {{ knp_pagination_render(pagination) }}
    </div>

    <section class="table">
        <div v-if="close == true">
            <div class="notif">
                <p style="margin-left: 100px;">RIGHT: <%= correct %> </p>
                <p>WRONG: <%= wrong %> </p>
                <p>TIME DURATION: <%= diffInMin %>  min, and <%= diffInSec %> sec </p>

                <button class="red close" @click="closeCycle($event)">CLOSE</button>
            </div>

            <div class="grid grid-pad">
                <div class="col-5-6">
                    <section class="table custom">
                        <div class="wrapper">
                            <table width="100%" cellpadding="0" cellspacing="0" style="display: table;">
                                <tr>
                                    <th>TAG</th>
                                    <th>STORAGE LOCATION</th>
                                    <th>MOBILE LOCATION</th>
                                    <th>SKU</th>
                                    <th></th>
                                </tr>
                                    
                                    <tbody v-for="(rs, key) in results">
                                        <tr>
                                            <td><%= rs.tag %></td>
                                            <td><%= rs.storageloc %></td>
                                            <td><%= rs.mobileloc %></td>
                                            <td><%= rs.sku %></td>
                                            <td>
                                                <i v-if="rs.corrected == true" class="font-red fa fa-times" aria-hidden="true"></i>
                                                <i v-if="rs.corrected == false" class="font-blue fa fa-check" aria-hidden="true"></i>
                                            </td>

                                        </tr>
                                    </tbody>
                                
                            </table>
                        </div>
                    </section>
                </div>

                <div class="col-5-6">
                    <p style="margin-left:100px">REMAINING</p>
                    <section class="table custom">
                        <div class="wrapper">
                            <table width="100%" cellpadding="0" cellspacing="0" style="display: table;">
                                <tr>
                                    <th>TAG</th>
                                    <th>STORAGE LOCATION</th>
                                    <th>MOBILE LOCATION</th>
                                    <th>SKU</th>
                                </tr>
                                    
                                    <tbody v-for="(rs, key) in list">
                                        <tr>
                                            <td><%= rs.tag %></td>
                                            <td><%= rs.storage %></td>
                                            <td><%= rs.mobile %></td>
                                            <td><%= rs.sku %></td>
                                        </tr>
                                    </tbody>
                                
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?jsqueeze"
        'js/src/components/vue.min.js'
        'js/src/components/vue-resource.min.js'
        'js/src/Branch/vuejs/cyclecount.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}