{% extends 'base.html.twig' %}

{% set pageClass = 'LMBM-WMS login' %}

{% block body %}
    <main>
        <div class="wrapper">
            <h1><img src=" {{ asset('images/LMBM-logo.png') }}" alt=""></h1>
            {% set clientDomain = app.session.get('_client').hostAlias %}
            <form action="{{ path('client_login', {'clientDomain': clientDomain}) }}" method="post">
                <section>
                    <input placeholder="Email" type="text" id="username" name="_username" value="{{ last_username }}" />
                </section>
                <section>
                    <input placeholder="Password" type="password" id="password" name="_password" />
                </section>
                <section class="submit">
                    <button class="red" type="submit">Login</button>
                    {% if error %}
                        <span class="error font-red text-center">Invalid Login Credentials</span>
                    {% endif %}
                </section>
                <input type="hidden" name="_target_path" value="/" />
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            </form>
        </div>
    </main>
{% endblock %}
