<div class="sense">

  	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	<div style="position: absolute;
	    z-index: 100;
	    right: 0px;
	    width: 100px;
	    height: 30px;
	    background-color: #fff;">
	</div>

	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-format="fluid"
	     data-ad-layout-key="-gw-3+1f-3d+2z"
	     data-ad-client="ca-pub-6651080217793068"
	     data-ad-slot="9708424700"></ins>
	<script>
	     (adsbygoogle = window.adsbygoogle || []).push({});
	</script>

	
</div>