{% extends 'BranchBundle::base.html.twig' %}

{% block title %}
    {{ activeNav }}
{% endblock %}

{% block content %}
    <section class="heading">
        <div class="wrapper">
            <h2> {{ moduleAction is defined ? moduleAction : 'Module Action' }} </h2>
            <p> {{ moduleDescription is defined ? moduleDescription : 'Module Description' }} </p>
        </div>
    </section>

    {{ include('CoreBundle::Widget/flash_message.html.twig') }}

    {% block moduleContent %}
    {% endblock %}
{% endblock %}
