<aside>
    
    <nav>
        <ul>
            <li>
                <!-- <a href="">Warehouse Management</a> -->
                <ul class="sub-nav">
                    <li class="{{ activeNav == 'Product' ? 'active' : '' }}"><a href="{{ path('branch_product_index') }}">Product</a></li>
                    <li class="{{ activeNav == 'Supplier' ? 'active' : '' }}"><a href="{{ path('branch_supplier_index') }}">Supplier</a></li>
                    <li class="{{ activeNav == 'User' ? 'active' : '' }}"><a href="{{ path('branch_user_index') }}">User</a></li>
                    <li class="{{ activeNav == 'Client' ? 'active' : '' }}"><a href="{{ path('branch_client_index') }}">Client</a></li>
                    <li class="{{ activeNav == 'Warehouse' ? 'active' : '' }}"><a href="{{ path('branch_warehouse_index') }}">Warehouse</a></li>
                </ul>
            </li>
            <li>
                <!-- <a href="">Inbound</a> -->
                <ul class="sub-nav">
                    <li class="{{ activeNav == 'PurchaseOrder' ? 'active' : '' }}"><a href="{{ path('branch_purchase_order_index') }}">Purchase Order</a></li>
                    <li class="{{ activeNav == 'Inbounding' ? 'active' : '' }}"><a href="{{ path('branch_inbounding_index') }}">Inbounding</a></li>
                </ul>
            </li>
            <li>
                <!-- <a href="">OutBound</a> -->
                <ul class="sub-nav">
                    <li class="{{ activeNav == 'Picklist' ? 'active' : '' }}"><a href="{{ path('branch_picklist_index') }}">Picklist</a></li>
                    {# <li class="{{ activeNav == 'Status' ? 'active' : '' }}"><a href="{{ path('branch_status_dispatch') }}">Dispatch</a></li>
                    <li class="{{ activeNav == 'StatusDelivered' ? 'active' : '' }}"><a href="{{ path('branch_status_delivered') }}">Delivered</a></li> #}
                    <li class="{{ activeNav == 'UnservedOrder' ? 'active' : '' }}"><a href="{{ path('branch_unserved_order_index') }}">Unserved Orders</a></li>
                    <li class="{{ activeNav == 'Pick' ? 'active' : '' }}"><a href="{{ path('branch_pick_index') }}">Pick</a></li>
                    <li class="{{ activeNav == 'Pack' ? 'active' : '' }}"><a href="{{ path('branch_pack_index') }}">Pack</a></li>
                    <li class="{{ activeNav == 'Billing' ? 'active' : '' }}"><a href="{{ path('branch_billing_list') }}">Billing</a></li>
                    <li class="{{ activeNav == 'BillingV2' ? 'active' : '' }}"><a href="{{ path('branch_billing_list_v2') }}">Billing V2</a></li>
                    <li class="{{ activeNav == 'BillingStorage' ? 'active' : '' }}"><a href="{{ path('branch_billing_storage') }}">Billing Storage</a></li>
                    <li class="{{ activeNav == 'kitting' ? 'active' : '' }}"><a href="{{ path('branch_billing_kitting_list') }}">Billing Kitting</a></li>
                    <li class="{{ activeNav == 'BillingReport' ? 'active' : '' }}"><a href="{{ path('branch_billing_report') }}">Billing Report</a></li>

                </ul>
            </li>
            <li>
                <!-- <a href="">Inventory</a> -->
                <ul class="sub-nav">
                    <li class="{{ activeNav == 'Inventory' ? 'active' : '' }}"><a href="{{ path('branch_inventory_index') }}">Inventory Master</a></li>
                    <li class="{{ activeNav == 'InventoryReport' ? 'active' : '' }}"><a href="{{ path('branch_inventory_report') }}">Inventory Report</a></li>
                    <li class="{{ activeNav == 'InventoryMove' ? 'active' : '' }}"><a href="{{ path('branch_inventory_move_index') }}">Inventory Move</a></li>
                    <li class="{{ activeNav == 'StorageLocation' ? 'active' : '' }}"><a href="{{ path('branch_storage_location_index') }}">Storage Location</a></li>
                    <li class="{{ activeNav == 'MobileLocation' ? 'active' : '' }}"><a href="{{ path('branch_mobile_location_index') }}">Mobile Location</a></li>
                    <li class="{{ activeNav == 'CycleCount' ? 'active' : '' }}"><a href="{{ path('branch_cyclecount_list') }}">Cycle Count</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>
