<section class="top-nav clearfix">
    <ul class="clearfix">
        <li class="notification">
            <a href="#"><span>0</span><i class="fa fa-bell" aria-hidden="true"></i></a>
        </li>
        <li class="account">
            <a>
                {{ app.user.firstName ~ ' ' ~ app.user.lastName }}<img src="" alt=""><i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <ul>
                <li><a href="">Change Password</a></li>
                <li><a href="{{ path('logout') }}">Logout</a></li>
            </ul>
        </li>
    </ul>
</section>
