{% extends 'ClientBundle::Product/base.html.twig' %}

{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <a class="red" href="{{ path('client_product_add', {'clientDomain': clientDomain}) }}">ADD PRODUCT</a>
            <a class="red" href="{{ path('client_product_import', {'clientDomain': clientDomain}) }}">IMPORT PRODUCTS</a>
            <a class="red" href="{{ asset('files/product/product_upload_template.xlsx') }}">DOWNLOAD IMPORT FILE</a>
            <a class="filter red" href="#">FILTER</a>
            <a class="red" href="{{ path('client_product_report', {'clientDomain': clientDomain}) }}">REPORT</a>
        </div>
    </section>
    <section class="filter-slide">
        <div class="filter-main">
            <button class="filter-close"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
            <div>
                <form action="">
                    <section>
                        <label for="">SKU</label>
                        <input type="text">
                    </section>
                    <section>
                        <label for="">Supplier</label>
                        <input type="text">
                    </section>
                    <section class="form-submit">
                        <button class="red">SEARCH</button>
                        <button class="filter-cancel gray">CANCEL</button>
                    </section>
                </form>
            </div>
        </div>
    </section>
    {% include 'BranchBundle::ads.html.twig' %} 
    <section class="table custom">
        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th><div>SKU</div></th>
                    <th><div>CLIENT SKU</div></th>
                    <th><div>SUPPLIER SKU</div></th>
                    <th><div>COGP</div></th>
                    <th><div>CLIENT</div></th>
                    <th><div>SUPPLIER</div></th>
                    <th></th>
                </tr>
                {% for product in pagination %}
                <tbody>
                    <tr><td colspan="6" class="space"></td></tr>
                    <tr>
                        <td>{{ product.sku }}</td>
                        <td>{{ product.clientSku }}</td>
                        <td>{{ product.supplierSku }}</td>
                        <td>{{ product.costOfGoodsPurchased }}</td>
                        <td>{{ product.client.name }}</td>
                        <td>{{ product.supplier.name }}</td>
                        <td class="table-dropdown">
                            <button><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                            <ul>
                                <li><a href="{{ path('client_product_update', {'clientDomain': clientDomain, 'productId': product.id}) }}">EDIT DETAILS</a></li>
                                <li><a href="{{ path('client_product_delete', {'clientDomain': clientDomain, 'productId': product.id}) }}">DELETE</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" class="no-border"><h5>{{ product.productDescription }}</h5></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </section>
    {{ knp_pagination_render(pagination) }}

{% endblock %}
