{# Based from KnpPaginatorBundle:Pagination:sliding.html.twig #}
{% if pageCount > 1 %}
    <section class="pagination">
        <div class="wrapper">
            <ul>
                {% if first is defined and current != first %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">FIRST</a>
                    </li>
                {% endif %}
                {% if previous is defined %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">PREV</a>
                    </li>
                {% endif %}

                {% for page in pagesInRange %}
                    {% if page != current %}
                        <li>
                            <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="active">
                            <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if next is defined %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">NEXT</a>
                    </li>
                {% endif %}

                {% if last is defined and current != last %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">LAST</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </section>
{% endif %}
