<section class="form-submit">
    <button type="submit" name="submit" class="red">Submit</button>
    <button type="button" class="gray" onclick="javascript:history.back()">Cancel</button>
</section>
