{% extends 'BranchBundle::Supplier/base.html.twig' %}

{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <a class="red" href="{{ path('branch_supplier_add') }}">ADD SUPPLIER</a>
            <a class="red" href="#">FILTER</a>
        </div>
    </section>
    <section class="table">

        {% include 'BranchBundle::ads.html.twig' %} 
        
        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Contact Person</th>
                    <th>Contact Number</th>
                    <th></th>
                </tr>
                {% for supplier in pagination %}
                    <tr>
                        <td>{{ supplier.name }}</td>
                        <td>{{ supplier.address }}</td>
                        <td>{{ supplier.contactPerson }}</td>
                        <td>{{ supplier.contactNumber }}</td>
                        <td class="table-dropdown">
                            <button><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                            <ul>
                                <li><a href="{{ path('branch_supplier_update', {'supplierId': supplier.Id}) }}">UPDATE DETAILS</a></li>
                                <li><a href="{{ path('branch_supplier_delete', {'supplierId': supplier.Id}) }}">DELETE</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        {{ knp_pagination_render(pagination) }}

    </section>
    
{% endblock %}
