<section class="filter-slide">
        <div class="filter-main">
            <button class="filter-close"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
            <div>
                <form action="">
                    <section>
                        <label for="">Status</label>
                        <select name="status" id="">
                            <option value="">SELECT STATUS</option>
                            {% for key,status in statuses %}
                                <option value="{{ key }}"> {{ status }} </option>
                            {% endfor %}
                        </select>
                    </section>
                    <section>
                        <label for="">Picklist Number</label>
                        <input type="text" name="picklistno">
                    </section>
                    <section>
                        <label for="">Order Number</label>
                        <input type="text" name="ordernumber">
                    </section>
                    <section>
                        <label for="">Client</label>
                        <select name="client" id="">
                            <option value="">SELECT CLIENT</option>
                            {% for client in clients %}
                                <option value="{{ client.id }}"> {{ client.name }} </option>
                            {% endfor %}
                        </select>
                    </section>
                    <section class="date">
                        <span class="clearfix">
                            <div>
                                <label for="">Date From</label>
                                <input type="text" class="datepicker" name="datefrom">
                            </div>
                            <div>
                                <label for="">Date To</label>
                                <input type="text" class="datepicker" name="dateto">
                            </div>
                        </span>
                    </section>
                    {# <section>
                        <label for="">Uploaded By</label>
                        <select name="" id="">
                            <option value=""></option>
                        </select>
                    </section> #}
                    <section class="form-submit">
                        <button class="red">SEARCH</button>
                        <button class="filter-cancel gray">CANCEL</button>
                    </section>
                </form>
            </div>
        </div>
    </section>