{% extends 'BranchBundle::Picklist/base.html.twig' %}

{% block moduleContent %}
    <section class="form">
        
        {% include 'BranchBundle::ads.html.twig' %} 

        <div class="wrapper">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {% include 'BranchBundle::Block/submit_cancel.html.twig' %}
            {{ form_end(form) }}
        </div> 
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/vue/dist/vue.min.js','js') }}"></script>
    <script src="{{ asset('node_modules/vue-resource/dist/vue-resource.min.js','js') }}"></script>
    <script src="{{ asset('js/vue/wms2/src/main.js','js') }}"></script>
    
    
{% endblock %}

