{% extends 'BranchBundle::Picklist/base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
    <style type="text/css">
        .statusfilter {
            position: relative;
        }
        .statusfilter ul.status-collection {
            background-color: transparent;
            list-style: none;
            margin: 20px -10px 0;
            max-height: 220px;
            max-width: 250px;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 0;
            position: absolute;
            top: 10px;
            width: 100%;
            z-index: 1;
        }

        ul.status-collection {
            list-style: none;
        }

        span.status {
            cursor: pointer;
        }

        .statusfilter li button {
            background-color: #95a5a6;
            font-size: 1em;
            color:white;
            padding: 6px 10px;
            width: 100%;
            line-height: inherit;
            line-height: 1.8em;
            border-radius: 0;
            outline: none;
            border: none;
            border-bottom: 1px solid #7f8c8d;
        }

        .spacing {
            margin: 0px 10px;
        }

    </style>

{% endblock %}
{% block modal %}
    {% set unservedOrders = app.session.flashBag.get('unservedOrders') %}
    {% if unservedOrders is not empty %}
        <section class="modal">
            <div class="modal-shader"></div>
            <div class="modal-main">
                <div class="wrapper">
                    <section>
                        <h2>UNSERVED ORDERS</h2>
                        <p>
                            The following picklist numbers cannot be fulfilled.
                        </p>
                        <ul id="incomplete-picklist-ul">
                            {% for picklistNumber in unservedOrders %}
                                <li class="clearfix">
                                    <span>{{ picklistNumber }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                    <section class="submit">
                        <button class="gray" id="modal-ok-button">OK</button>
                    </section>
                </div>
            </div>
        </section>
    {% endif %}

    {% include 'BranchBundle::Status/_dispatch.modal.html.twig' %}

{% endblock %}

{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <a class="red" href="{{ path('branch_picklist_import') }}">IMPORT PICKLIST</a>
            <a class="red" href="{{ asset('files/picklist/import_picklist_template.xls') }}">DOWNLOAD IMPORT FILE</a>
            <a class="red" href="#" id="submit-print">PRINT</a>
            <a class="red" href="#" @click="showform($event,3)" id="submit-released">RELEASED</a>
            <a class="red" href="#" @click="showform($event,1)" id="submit-intransit">INTRANSIT</a>
            <a class="red" href="#" @click="showform($event,2)" id="submit-delivered">DELIVERED</a>
            <a class="filter red" href="#">FILTER</a>
        </div>
    </section>
    {{ include('BranchBundle::Picklist/_filter.html.twig') }}
    <section class="table">

        {% include 'BranchBundle::ads.html.twig' %} 
        
        <div class="wrapper">
            <form action="{{ path('branch_picklist_print') }}" method="POST" id="picklist-print-form">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th></th>
                    <th>PICKLIST NO</th>
                    <th>ORDER NO</th>
                    <th>CLIENT</th>
                    <th>DATE UPLOADED</th>
                    <th>UPLOADED BY</th>
                    <th>STATUS</th>
                    <th></th>
                </tr>
                    {% for picklistParticular in pagination %}
                        {% set picklist = picklistParticular.picklistAggregate %}
                        {% set deliveredPicklist = picklistParticular.picklistDelivered %}

                        {% if deliveredPicklist | length > 0 %}
                            {% set statusname = deliveredPicklist[0].getStatusName() %} 
                        {% else %}
                            {% set statusname = picklistParticular.picklistStatus.name %}
                        {% endif %}

                        <tr>
                            <td><input type="checkbox" name="picklistNumbers[]" value="{{ picklistParticular.picklistParticularNumber }}"></td>
                            <td>{{ picklistParticular.picklistParticularNumber }}</td>
                            <td>{{ picklist.orderNumber }}</td>
                            <td>{{ picklist.client.name }}</td>
                            <td>{{ picklist.dateCreated|date('Y-m-d H:i:s') }}</td>
                            <td>
                                {% if picklist.createdBy.lastName is defined  %}
                                    {{ picklist.createdBy.lastName }}
                                {% endif %}
                            </td>

                            <td class="statusfilter">
                                <span @click="showStatus($event)" class="status border-blue font-blue id_{{ picklistParticular.id }}">{{ statusname }} </span>
                                <ul class="status-collection" style="display: none;" data-picklist="{{picklistParticular.id}}">
                                    {% if statusname == 'INTRANSIT' %} 
                                        <li><button @click="processStatus($event,2)">DELIVERED</button></li>

                                    {% elseif statusname == 'For Release' %}
                                        <li><button @click="processStatus($event,3)">RELEASED</button></li>
                                        <li><button @click="processStatus($event,1)">INSTRANSIT</button></li>
                                    {% endif %}
                                </ul>
                            </td>

                            <td class="table-dropdown">
                                <button type="button"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                                <ul>
                                    <li><a href="{{ path('branch_picklist_view', {'picklistParticularNumber': picklistParticular.picklistParticularNumber }) }}">VIEW</a></li>
                                    <li><a href="{{ path('branch_pack_reprint', {'picklistNumber': picklist.picklistNumber }) }}">POD REPRINT</a></li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
            </table>
            </form>
        </div>
    </section>
    {{ knp_pagination_render(pagination) }}

    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?jsqueeze"
        'js/src/Branch/Picklist/index.js'
        'js/src/components/vue.min.js'
        'js/src/components/vue-resource.min.js'
        'js/src/Branch/vuejs/dispatch.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function(){
            $('.modal').hide();    
        })        
    </script>
{% endblock %}
