<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
        <title>Picklists - {{ "now"|date('Y-m-d H:i:s') }}</title>
        {% block stylesheets %}
            {% stylesheets filter="cssrewrite,scssphp"
                "scss/font-awesome-4.6.3/src/font-awesome.scss"
                "css/src/base.css"
            %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="-webkit-print-color-adjust:exact;">
        <section class="printx2">
            <ul class="print-list clearfix">
                {% for v in data %}

                <li>
                    <div class="wrapper">
                        <div class="picklist-details clearfix">
                        </div>
                        <div class="other-details">
                            <p><strong>CLIENT NAME</strong><span>{{ v.client }}</span></p>
                            <p><strong>CUSTOMER NAME</strong><span>{{ v.order_details.consignee }}</span></p>
                            <p><strong>ADDRESS</strong><span>{{ v.order_details.consignee_address }}</span></p>
                            <p><strong>ORDER NUMBER</strong><span>{{ v.order_number }}</span></p>
                        </div>
                        <table class="custom" width="100%" cellpadding="0" cellspacing="0" class="custom">
                            <tr>
                                <th>SKU</th>
                                <th>QUANTITY</th>
                                <th>STORAGE LOC</th>
                                <th>MOBILE LOC</th>
                            </tr>
                            {% for listing, i in v.order_details.products %}
                            <tbody>
                                <tr><td colspan="6" class="space"></td></tr>
                                <tr>
                                    <td>{{ listing }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ v.storage|join(',') }}</td>
                                    <td>{{ v.mobile|join(',') }}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                        <div class="other-details">
                            <p><strong>PRINTED BY</strong><span>{{ app.user.firstName ~ ' ' ~ app.user.lastName }}</span></p>
                            <p><strong>PICKED BY</strong><span>&nbsp;</span></p>
                        </div>
                    </div>   
                </li>  

                
                {% endfor %}
            </ul>
        </section> 
    </body>
</html>
