<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
        <title>Picklists - {{ "now"|date('Y-m-d H:i:s') }}</title>
        {% block stylesheets %}
            {% stylesheets filter="cssrewrite,scssphp"
                "scss/font-awesome-4.6.3/src/font-awesome.scss"
                "css/src/base.css"
            %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="-webkit-print-color-adjust:exact;">
        <section class="printx2">
            <ul class="print-list clearfix">
                {% for aggregate in printAggregate %}
                    {% include 'BranchBundle:Picklist:partial/printable_block.html.twig' with aggregate %}
                {% endfor %}
            </ul>
        </section> 
    </body>
</html>
