{% extends 'BranchBundle::Picklist/base.html.twig' %}

{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <a class="red" href="#" id="submit-print">PRINT</a>
        </div>

        {% include 'BranchBundle::ads.html.twig' %} 
        
        <form action="{{ path('branch_picklist_print') }}" method="POST" id="picklist-print-form">
            <input type="hidden" name="picklistNumbers[]" value="{{ picklistParticularNumber }}">
        </form>
    </section>
    {% for aggregate in printAggregate %}
        {% include 'BranchBundle:Picklist:partial/print_preview_block.html.twig' with aggregate %}
    {% endfor %}

    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?jsqueeze"
        'js/src/Branch/Picklist/index.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
