{% extends 'BranchBundle::Pack/base.html.twig' %}

{% block moduleContent %}
    <section class="form">
        
        {% include 'BranchBundle::ads.html.twig' %} 

        <div class="wrapper">
            <form action="{{ path('branch_pack_index') }}" method="POST">
                <section>
                    <label for="">Scan Picklist</label>
                    <input name="picklistNumber" type="text">
                </section>
                <section class="form-submit">
                    <button class="red">RETRIEVE</button>
                </section>
            </form>
        </div>

    </section>
{% endblock %}
