{% extends 'BranchBundle::Pack/base.html.twig' %}

{% block modal %}
    <section class="modal">
        <div class="modal-shader"></div>
        <div class="modal-main">
            <div class="wrapper">
                <section>
                    <h2>INCOMPLETE PACKAGE</h2>
                    <p>
                        The following items has not yet been packed. <br/>
                        Please finish the remaining items to be able to proceed.
                    </p>
                    <ul id="incomplete-picklist-ul">
                    </ul>
                </section>
                <section class="submit">
                    <button class="red" id="modal-ok-button">OK</button>
                </section>
            </div>
        </div>
    </section>
{% endblock %}

{% block moduleContent %}
    <input type="hidden" id="pack-inventory-path" value="{{ path('branch_pack_pack_inventory') }}">
    <input type="hidden" id="for-dispatch-path" value="{{ path('branch_pack_dispatch') }}">
    <input type="hidden" id="pack-index-path" value="{{ path('branch_pack_index') }}">
    <section class="form">
        
        {% include 'BranchBundle::ads.html.twig' %} 

        <div class="wrapper">
            <form action="">
                <section>
                    <label for="">Scan Inventory Tag</label>
                    <input type="text" id="inventory-scan">
                    <span id="pack-notif" class="error font-red" style="display:none;">Packing...</span>
                </section>
                {% if picklist.picklistStatus.value in picklistCanBeReprinted %}
                    <section class="submit">
                        <button type="button" class="red" id="reprint-pod">REPRINT SELECTED TAGS</button>
                    </section>
                {% endif %}
            </form>
        </div>
    </section>
    <section class="table custom">
        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    {% if picklist.picklistStatus.value in picklistCanBeReprinted %}
                        <th width="15px"></th>
                    {% endif %}
                    <th> <a href="javascripts:void(0)" id="checkAll"> Check All </a>  &nbsp;&nbsp; TAG</th>
                    <th>SKU</th>
                    <th>STATUS</th>
                </tr>
                <form action="{{ path('branch_pack_reprint') }}" method="POST" id="reprint-form">
                    <input type="hidden" name="picklistNumber" value="{{ picklistNumber }}">
                    {% for detail in picklist.inventoryListing %}
                        <tbody>
                            <tr><td colspan="3" class="space"></td></tr>
                            <tr>
                                {% if picklist.picklistStatus.value in picklistCanBeReprinted %}
                                    {% if detail.inventory.inventoryStatus.value == constant('CoreBundle\\Entity\\InventoryStatus::DISPATCHED') %}
                                        <td><input type="checkbox" name="inventoryTags[]" value="{{ detail.inventory.tag }}"></td>
                                    {% else %}
                                        <td><input type="checkbox" class="tagsName" name="tags[]" value="{{ detail.inventory.tag }}"></td>
                                    {% endif %}
                                {% endif %}
                                <td>{{ detail.inventory.tag }}</td>
                                <td>{{ detail.inventory.product.sku }}</td>
                                <td>
                                    <span class="pick-status" data-desc="{{ detail.inventory.product.productDescription }}">
                                        {% if detail.inventory.inventoryStatus.value == constant('CoreBundle\\Entity\\InventoryStatus::LOST') %}
                                            LOST
                                        {% elseif detail.inventory.inventoryStatus.value not in inventoryHasBeenPacked %}
                                            <i id="{{ detail.inventory.tag }}" class="font-red fa fa-times" aria-hidden="true"></i>
                                        {% else %}
                                            <i 
                                                id="{{ detail.inventory.tag }}" 
                                                class="font-blue fa fa-check" 
                                                aria-hidden="true"
                                            ></i>
                                        {% endif %}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                {% if picklist.picklistStatus.value in picklistCanBeReprinted %}
                                    <td></td>
                                    <td colspan="3" class="no-border"><h5>{{ detail.inventory.product.productDescription }}</h5></td>
                                {% else %}
                                    <td colspan="3" class="no-border"><h5>{{ detail.inventory.product.productDescription }}</h5></td>
                                {% endif %}
                            </tr>
                        </tbody>
                    {% endfor %}
                </form>
            </table>
        </div>
    </section>
    <section class="submit">
        <div class="wrapper">
            <form action="{{ path('branch_pack_dispatch') }}" method="POST" id="dispatch-form">
                <input type="hidden" name="picklistNumber" id="picklist-number" value="{{ picklistNumber }}">
            </form>
            <button class="red" id="submit-for-dispatch">PRINT AND DISPATCH</button>
            <button class="gray">CANCEL</button>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?jsqueeze"
        'js/src/Branch/Pack/pack.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
