<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
        <title>{{ picklist.invoiceNumber }}</title>
        {% block stylesheets %}
            {% stylesheets filter="cssrewrite,scssphp"
                "scss/font-awesome-4.6.3/src/font-awesome.scss"
                "css/src/base.css"
            %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="-webkit-print-color-adjust:exact;">
        <section class="proof-of-delivery">
            <div class="wrapper">                
                <section class="clearfix">                    
                    <h2>PROOF OF DELIVERY</h2>
                    <div class="float-left">
                        {% if isReprint is defined %}
                           <p><strong>REPRINTED COPY</strong></p>
                        {% endif %}
                        <p>Invoice Number: {{ picklist.invoiceNumber }}<p>
                        <p>Order Number: {{ picklist.orderNumber }}</p>
                        <p>Order Date: {{ picklist.dateCreated|date('Y-m-d H:i:s') }}</p>
                    </div>
                    <div class="float-right">
                        <p style="padding-bottom: 8px;">Prepared by</p>
                        <img src="{{ asset('images/lmbm-h-logo.svg') }}" width="200" alt="">
                    </div>
                </section>
                <section class="table printable">                    
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <th width="50%">SHIP TO</th>
                            <th width="50%">PAYMENT METHOD</th>
                        </tr>
                        <tbody>
                            <tr>
                               <td>
                                    <article>
                                        <h3>{{ picklist.orderDetails.consignee }}</h3>
                                        <p>{{ picklist.orderDetails.consignee_address }}</p>
                                        <p>{{ picklist.orderDetails.contact_number }}</p>
                                    </article>
                               </td>
                                <td>
                                    <p>{{ picklist.orderDetails.payment_method }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="table printable">
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <th>PRODUCT DESCIPTION</th>
                            <th>CLIENT SKU</th>
                            <th>SERIAL NO</th>
                            <th class="text-right">SRP</th>
                            <th class="text-right">QTY</th>
                            <th class="text-right">SUBTOTAL</th>
                        </tr>
                        {% set total = 0 %}
                        {% for clientSku,details in productDetails %}
                            {% for amount,quantity in details.variants %}
                                {% set productTotal = details.srp * quantity %}
                                <tbody>
                                    <tr>
                                        <td><p>{{ details.description }}</p></td>
                                        <td><p>{{ clientSku }}</p></td>
                                        <td><p>{{ details.serialNo }}</p></td>
                                        <td class="text-right"><p>{{ details.srp|number_format(2, '.', ',') }}</p></td>
                                        <td class="text-right"><p>{{ quantity }}</p></td>
                                        <td class="text-right"><p>{{ productTotal|number_format(2, '.', ',') }}</p></td>
                                    </tr>
                                </tbody>
                                {% set total = total + productTotal %}
                            {% endfor %}
                        {% endfor %}
                        <tbody>
                            <tr>
                                <td colspan="5" class="text-right no-border">
                                    <p><strong>Grand Total (PHP)</strong></p>
                                </td>
                                <td class="text-right no-border">
                                    <p>{{ total|number_format(2, '.', ',') }}</p>
                                </td>
                            </tr>
                        </tbody>                        
                    </table>
                </section>
                <div class="row">
                    <div class="column-2">
                        <p>Received the products in good condition.</p>
                        <p>Note: Damaged and lost items will be charged to receiver.</p>
                        <h3>Recieved by</h3>
                        <span class="blank"></span>
                        <h3>Date</h3>
                        <span class="blank"></span>
                    </div>

                    <div class="column-2">
                        
                        <h3>Approved</h3>
                        <span class="blank"></span>
                        <h3>Guard</h3>
                        <span class="blank"></span>
                    </div>
                </div>
            </div>
        </section> 
    </body>
</html>
