{% extends 'BranchBundle::BillingV2/base.html.twig' %}
{% set activeNav = "BillingV2" %}

{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <form action="" method="POST" style="">
                <section>
                    <label for="">Date Start</label>
                    <input type="text" name="start" value="{{ "now"|date("Y-m-d") }}" required class="datepicker">
                </section>
                <section>
                    <label for="">Date End</label>
                    <input type="text" name="end" value="{{ "now"|date("Y-m-d") }}" required class="datepicker">
                </section>
                <section>
                    <label for="">Client</label>
                    <select name="client">
                        {% for client in clients %}
                            <option value="{{ client.id }}"> {{ client.name }} </option>
                        {% endfor %}
                        
                    </select>
                </section>
                <section class="form-submit">
                    <button type="submit" name="save" value="save" class="red">SAVE BILLING</button>
                </section>
            </form>
        </div>

        <div class="wrapper">
            <hr/>
            <h3>Storage Billing</h3>

            <form action="{{ path('branch_billing_storage_add') }}" method="POST" style="">
                <section>
                    <label for="">Billing from</label>
                    <input type="text" name="start" value="{{ "now"|date("Y-m-d") }}" required class="datepicker">
                </section>
                <section>
                    <label for="">Billing to</label>
                    <input type="text" name="end" value="{{ "now"|date("Y-m-d") }}" required class="datepicker">
                </section>
                <section>
                    <label for="">Client</label>
                    <select name="client">
                        {% for client in clients %}
                            <option value="{{ client.id }}"> {{ client.name }} </option>
                        {% endfor %}
                        
                    </select>
                </section>

                <section>
                    <label for="">Square meter Used</label>
                    <input type="text" name="sqm" value="200">
                </section>

                <section>
                    <label for="">Paste Tag No</label>
                    <textarea name ="tagno"></textarea>
                </section>

                <section>
                    <label for="">Insurace charge (%)</label>
                    <input type="text" name="insurance" value="0.50">
                </section>

                <section class="form-submit">
                    <button type="submit" name="save" value="save" class="red">SAVE BILLING</button>
                </section>
            </form>
        </div>

    </section>

    



{% endblock %}
