{% extends 'BranchBundle::module.html.twig' %}
{% set activeNav = "kitting" %}


{% block moduleContent %}
    <section class="form">
        <div class="wrapper">
            <form action="" method="post">
                <section>
                    <label for="">Date Start</label>
                    <input type="text" name="start" value="{{ "now"|date("Y-m-d") }}" required class="datepicker">
                </section>
                
                <section>
                    <label for="">Date End</label>
                    <input type="text" name="end" value="{{ "now"|date("Y-m-d") }}" required class="datepicker">
                </section>

                <section>
                    <label for="">Client</label>

                    <select name="client" id="">
                        {% for client in clients %}
                            <option value="{{ client.id }}"> {{ client.name }}</option>
                        {% endfor %}
                    </select>
                </section>

                <section>
                    <label for="">No of Person</label>
                    <input type="number" name="no_of_person">
                </section>

                <section>
                    <label for="">Order Number</label>
                    <textarea name="order_number"></textarea>
                </section>

                <section>
                    <label for="">Rate</label>
                    <input type="number" name="rate">
                </section>

                <section>
                    <label for="">Over Charge</label>
                    <input type="number" name="over_charge">
                </section>

                <section>
                    <label for="">Remarks</label>
                    <input type="text" name="remarks">
                </section>

                <section class="form-submit">
                    <button class="red">Submit</button>
                </section>
            </form>
        </div>
    </section>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
