{% extends 'BranchBundle::module.html.twig' %}
{% set activeNav = "kitting" %}


{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <a class="red" href="{{ path('branch_billing_kitting_add') }}">ADD KITTING</a>
            {# <a class="filter red" href="#">FILTER</a> #}
            {% if app.session.flashbag.has('success') %}
                <div class="box notify success">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <p><strong> {{ flashMessage }} !</strong></p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>

    <section class="table">
        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>Kitting No</th>
                    <th>Date From</th>
                    <th>Date To</th>
                    <th>Created By</th>
                    <th>Client</th>
                    <th>TOTAL Kitting</th>
                    <th>IS PAID</th>
                    <th></th>
                </tr>
                {% for kitting in pagination %}
                    <tr>
                        <td>{{ kitting.billingNumber }}</td>
                        <td>{{ kitting.dateAdded|date('m/d/Y') }}</td>
                        <td>{{ kitting.dateTo|date('m/d/Y') }}</td>
                        <td>{{ kitting.modifiedBy }}</td>
                        <td>{{ kitting.client.name }}</td>
                        <td>{{ kitting.amount|number_format(2, '.', ',') }}</td>
                        <td class="isPaid_{{ kitting.id }}">{{ kitting.isPaid ? 'TRUE' : 'FALSE' }}</td>
                        <td class="table-dropdown">
                            <button><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                            <ul>
                                <li><a href="{{ path('branch_billing_kitting_export', {'id': kitting.id}) }}">EXPORT</a></li>
                                <li><a href="{{ path('branch_billing_kitting_delete', {'id': kitting.id}) }}" onclick="return confirm('Are you sure.?')">DELETE</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    {{ knp_pagination_render(pagination) }}
{% endblock %}


{% block modal %}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?jsqueeze"
        'js/src/Branch/Picklist/index.js'
        'js/src/components/vue.min.js'
        'js/src/components/vue-resource.min.js'
        'js/src/Branch/vuejs/remarks.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function(){
            $('.modal').hide();    
        })        
    </script>
{% endblock %}
