{% extends 'BranchBundle::BillingV2/base.html.twig' %}
{% set activeNav = "BillingV2" %}
{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <a class="red" href="{{ path('branch_billing_index_v2') }}">ADD BILLING</a>
            {# <a class="filter red" href="#">FILTER</a> #}
            {% if app.session.flashbag.has('success') %}
                <div class="box notify success">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <p><strong> {{ flashMessage }} !</strong></p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>

    <section class="table">
        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>Billing No</th>
                    <th>Date From</th>
                    <th>Date To</th>
                    <th>Created By</th>
                    <th>Client</th>
                    <th>TOTAL AMOUNT</th>
                    <th>IS PAID</th>
                    <th></th>
                </tr>
                {% for billing in pagination %}
                    <tr>
                        <td>{{ billing.billingNumber }}</td>
                        <td>{{ billing.dateAdded|date('m/d/Y') }}</td>
                        <td>{{ billing.dateTo|date('m/d/Y') }}</td>
                        <td>{{ billing.modifiedBy }}</td>
                        <td>{{ billing.client.name }}</td>
                        <td>{{ billing.amount|number_format(2, '.', ',') }}</td>
                        <td class="isPaid_{{ billing.id }}">{{ billing.isPaid ? 'TRUE' : 'FALSE' }}</td>
                        {# <td>{{ client.contactNumber }}</td>
                        
                        <td>{{ client.hostAlias }}</td> #}
                        <td class="table-dropdown">
                            <button><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                            <ul>
                                <li><a href="{{ path('branch_billing_export_excel', {'id': billing.id}) }}">EXPORT</a></li>
                                <li><a href="{{ path('branch_billing_export_excel_v2', {'id': billing.id}) }}">EXPORT V2</a></li>
                                <li><a href="{{ path('branch_billing_delete_summary', {'id': billing.id}) }}" onclick="return confirm('Are you sure.?')">DELETE</a></li>
                                {# <li><a href="{{ path('branch_billing_delete', {'id': billing.id}) }}">DELETE</a></li> #}
                                {# <li><a href="{{ path('branch_billing_print', {'id': billing.id}) }}">PRINT</a></li>
                                <li><a href="{{ path('branch_billing_export_pdf', {'id': billing.id}) }}">EXPORT TO PDF</a></li>
                                <li><a @click="showModal({{ billing.id }})">PAID</a></li> #}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    {{ knp_pagination_render(pagination) }}
{% endblock %}


{% block modal %}
    {% include 'BranchBundle::Billing/_remarks.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?jsqueeze"
        'js/src/Branch/Picklist/index.js'
        'js/src/components/vue.min.js'
        'js/src/components/vue-resource.min.js'
        'js/src/Branch/vuejs/remarks.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function(){
            $('.modal').hide();    
        })        
    </script>
{% endblock %}
