{% extends 'BranchBundle::module.html.twig' %}
{% set activeNav = "BillingReport" %}


{% block moduleContent %}
    <section class="form">
        <div class="wrapper">
            <form action="" method="post">
                <section>
                    <label for="">Date Start</label>
                    <input type="text" name="start" value="{{ "now"|date("Y-m-d") }}" required class="datepicker">
                </section>
                
                <section>
                    <label for="">Date End</label>
                    <input type="text" name="end" value="{{ "now"|date("Y-m-d") }}" required class="datepicker">
                </section>


                <section class="form-submit">
                    <button class="red">Submit</button>
                </section>
            </form>
        </div>
    </section>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

