{% set activeNav = "Inventory" %}
{% extends 'ClientBundle::Inventory/base.html.twig' %}

{% block moduleContent %}
    <section class="actions">

        {% include 'BranchBundle::ads.html.twig' %} 
        
        <div class="wrapper">
            
            <form action="{{ path('client_inventory_export', {'clientDomain': clientDomain}) }}" method="POST" style="">
                <section>
                    <label for="">Date Start</label>
                    <input type="text" name="start" value="{{ "now"|date("Y-m-d") }}" required class="datepicker">
                </section>
                <section>
                    <label for="">Date End</label>
                    <input type="text" name="end" value="{{ "now"|date("Y-m-d") }}" required class="datepicker">
                </section>
                
                <section>
                    <label for="">Warehouse</label>
                    <select name="warehouse">
                        <option value=""> ALL </option>
                        {% for warehouse in warehouses %}
                            <option value="{{ warehouse.id }}"> {{ warehouse.name }} </option>
                        {% endfor %}
                        
                    </select>
                </section>
                <section class="form-submit">
                    <button type="submit" name="export" value="export" class="red">EXPORT</button>
                    
                </section>
            </form>
        </div>
    </section>


{% endblock %}
