{% extends 'ClientBundle::Picklist/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            {% if app.session.flashbag.has('success') %}
                <div class="box notify success">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <p><strong> {{ flashMessage }} !</strong></p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>

    {% include 'BranchBundle::ads.html.twig' %} 

    <section class="form">
        <div class="wrapper">
            {{ form_start(form, {'attr':{'id': 'picklist_add'}}) }}
            {{ form_widget(form) }}
            {% include 'BranchBundle::Block/submit_cancel.html.twig' %}
            {{ form_end(form) }}
        </div> 
    </section>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
    $(function(){
        $('#picklist_add_warehouse, #picklist_add_product').on('change', function(){
            
            addLoader();

            var $form = $('#picklist_add');
            console.log($form.attr('action'));
            var i = 0;
            if ($(this).attr('id') == 'picklist_add_warehouse') {
                var brand = $(this);
                i = 0;
            }

            if ($(this).attr('id') == 'picklist_add_product') {
                var brand = $(this);
                i = 1;
            }
            // ... retrieve the corresponding form.
            
            // Simulate form data, but only include the selected sport value.
            var data = {};
            data[brand.attr('name')] = brand.val();

            // Submit data via AJAX to the form's action path.
            jQuery.ajax({
                url : $form.attr('action'),
                type: "POST",
                data: data,
                success: function (html) {
                    removeLoader();
                    if (i == 0) {
                        $('#picklist_add_product').html(
                            $(html).find("#picklist_add_product").children()
                        );
                        $('#picklist_add_product').val($("#picklist_add_product option:first").val());
                    } else {
                        $('#picklist_add_quantity').html(
                            $(html).find("#picklist_add_quantity").children()
                        );

                        $('#picklist_add_quantity').val($("#picklist_add_quantity option:first").val());

                        $('#picklist_add_productDescription').replaceWith(
                            $(html).find("#picklist_add_productDescription")
                        );

                        $('#picklist_add_costOfGoodsPurchased').replaceWith(
                            $(html).find("#picklist_add_costOfGoodsPurchased")
                        );
                    }
                    
                }
            });
        });


        $('#picklist_add').on('submit',function(){

            if ($('#picklist_add_quantity').val() == '0') {
                alert('Invalid Quantity');
                return false;
            }

        });


    });
    </script>

{% endblock %}
  