{% extends 'ClientBundle::Picklist/base.html.twig' %}

{% block modal %}
    {% set unservedOrders = app.session.flashBag.get('unservedOrders') %}
    {% if unservedOrders is not empty %}
        <section class="modal">
            <div class="modal-shader"></div>
            <div class="modal-main">
                <div class="wrapper">
                    <section>
                        <h2>UNSERVED ORDERS</h2>
                        <p>
                            The following picklist numbers cannot be fulfilled.
                        </p>
                        <ul id="incomplete-picklist-ul">
                            {% for picklistNumber in unservedOrders %}
                                <li class="clearfix">
                                    <span>{{ picklistNumber }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                    <section class="submit">
                        <button class="gray" id="modal-ok-button">OK</button>
                    </section>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <a class="red" href="{{ path('client_picklist_import', {'clientDomain': clientDomain}) }}">IMPORT PICKLIST</a>
            <a class="red" href="{{ path('client_picklist_add', {'clientDomain': clientDomain}) }}">ADD PICKLIST</a>
            <a class="red" href="{{ asset('files/picklist/import_picklist_template.xls') }}">DOWNLOAD IMPORT FILE</a>
            <a class="filter red" href="#">FILTER</a>

        </div>
    </section>
    
    {{ include('BranchBundle::Picklist/_filter.html.twig') }}

    <section class="table">
        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>PICKLIST NO</th>
                    <th>ORDER NO</th>
                    <th>CLIENT</th>
                    <th>DATE UPLOADED</th>
                    <th>UPLOADED BY</th>
                    <th>STATUS</th>
                    <th></th>
                </tr>
                    {% for picklistParticular in pagination %}
                        {% set picklist = picklistParticular.picklistAggregate %}
                        <tr>
                            <td>{{ picklistParticular.picklistParticularNumber }}</td>
                            <td>{{ picklist.orderNumber }}</td>
                            <td>{{ picklist.client.name }}</td>
                            <td>{{ picklist.dateCreated|date('Y-m-d H:i:s') }}</td>
                            <td>{{ picklist.createdBy.lastName }}</td>
                            <td><span class="status border-blue font-blue">{{ picklistParticular.picklistStatus.name }}</span></td>
                            <td class="table-dropdown">
                                <button type="button"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                                <ul>
                                    <li><a href="{{ path('client_picklist_view', {'clientDomain': clientDomain, 'picklistParticularNumber': picklistParticular.picklistParticularNumber}) }}">VIEW</a></li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </section>
    {{ knp_pagination_render(pagination) }}

    <div class="wrapper">
        {% include 'BranchBundle::ads.html.twig' %} 
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?jsqueeze"
        'js/src/Branch/Picklist/index.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
