{% extends 'ClientBundle::Picklist/base.html.twig' %}

{% block moduleContent %}
    {% for aggregate in printAggregate %}
        {% include 'BranchBundle:Picklist:partial/print_preview_block.html.twig' with aggregate %}
    {% endfor %}

    <div class="wrapper">
        {% include 'BranchBundle::ads.html.twig' %} 
    </div>
    
{% endblock %}
