{% extends 'ClientBundle::PurchaseOrder/base.html.twig' %}
{% import 'BranchBundle::PurchaseOrder/product_prototype.html.twig' as proto %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite,scssphp' 'css/src/select2.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block moduleContent %}

    {% include 'BranchBundle::ads.html.twig' %} 
    
    <section class="form">
        <div class="wrapper">
            {{ form_start(form) }}
            <section class="to-left">
                {{ form_label(form.warehouse) }}
                {{ form_widget(form.warehouse) }}
                {{ form_errors(form.warehouse) }}
            </section>
            <section class="to-left">
                {{ form_label(form.supplier) }}
                {{ form_widget(form.supplier) }}
                {{ form_errors(form.supplier) }}
            </section>
            <section>
                {{ form_label(form.paymentType) }}
                {{ form_widget(form.paymentType) }}
                {{ form_errors(form.paymentType) }}
            </section>
            <section>
                {{ form_label(form.remarks) }}
                {{ form_widget(form.remarks) }}
                {{ form_errors(form.remarks) }}
            </section>
            <section>
                {{ form_label(form.referenceNo) }}
                {{ form_widget(form.referenceNo) }}
                {{ form_errors(form.referenceNo) }}
            </section>
            <section>
                {{ form_label(form.file) }}
                {{ form_widget(form.file) }}
                {{ form_errors(form.file) }}
            </section>
            <input type="hidden" id="product-proto" data-prototype="{{proto.product(form.products.vars.prototype)|e}}">
            <section class="po-products">
                <label for="">Items</label>
                <div>
                    <ul class="adder clearfix">
                        <li class="choose-product">
                            <select class="product-search"></select>
                        </li>
                        <li class="choose-quantity"><input type="text" placeholder="0" id="product-quantity"></li>
                        <li class="add"><button class="blue font-white" id="add-product">ADD</button></li>
                    </ul>
                </div>
                {{ form_errors(form.products) }}
            </section>
            <section class="form-table">
                <table width="100%" cellpadding="0" cellspacing="0" id="product-table">
                    <tr>
                        <th width="76.5%">Product</th>
                        <th>Quantity</th>
                        <th>COGP</th>
                        <th></th>
                    </tr>
                    {% for product in form.products %}
                        {{ proto.product(product) }}
                    {% endfor %}
                </table>
            </section>
            {% include 'BranchBundle::Block/submit_cancel.html.twig' %}
            {% do form.products.setRendered %}
            {{ form_end(form) }}
        </div>
        <input type="hidden" id="product-search-url" value="{{path('client_purchase_order_product_search', {'clientDomain': clientDomain})}}">
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?jsqueeze"
        'js/src/select2.min.js'
        'js/src/Client/PurchaseOrder/add.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
