{% extends 'ClientBundle::PurchaseOrder/base.html.twig' %}

{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <a class="red" href="{{ path('client_purchase_order_add', {'clientDomain': clientDomain}) }}">ADD PURCHASE ORDER</a>
            <a class="filter red" href="#">FILTER</a>
        </div>
    </section>
    <section class="filter-slide">
        <div class="filter-main">
            <button class="filter-close"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
            <div>
                <form action="">
                    <section>
                        <label for="">Purchase Order Number</label>
                        <input type="text" name="purchaseOrder">
                    </section>
                    <section>
                        <label for="">Reference No</label>
                        <input type="text" name="referenceNo">
                    </section>
                    <section class="date">
                        <span class="clearfix">
                            <div>
                                <label for="">Date From</label>
                                <input type="text" class="datepicker" name="datefrom">
                            </div>
                            <div>
                                <label for="">Date To</label>
                                <input type="text" class="datepicker" name="dateto">
                            </div>
                        </span>
                    </section>
                    <section class="form-submit">
                        <button class="red">SEARCH</button>
                        <button class="filter-cancel gray">CANCEL</button>
                    </section>
                </form>
            </div>
        </div>
    </section>

    {% include 'BranchBundle::ads.html.twig' %} 
    
    <section class="table">
        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>PO Number</th>
                    <th>Reference No</th>
                    <th>Client</th>
                    <th>Supplier</th>
                    <th>Payment Type</th>
                    <th>Prepared By</th>
                    <th>Remarks</th>
                    <th></th>
                </tr>
                {% for purchaseOrder in pagination %}
                    <tr>
                        <td>{{ purchaseOrder.purchaseOrderNumber }}</td>
                        <td>{{ purchaseOrder.referenceNo }}</td>
                        <td>{{ purchaseOrder.client.name }}</td>
                        <td>{{ purchaseOrder.supplier.name }}</td>
                        <td>{{ purchaseOrder.paymentType.name }}</td>
                        <td>{{ purchaseOrder.created() }}</td>
                        <td>{{ purchaseOrder.remarks }}</td>
                        <td class="table-dropdown">
                            <button><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                            <ul>
                                <li><a href="{{ path('client_purchase_order_view', {'clientDomain': clientDomain, 'purchaseOrderId': purchaseOrder.id}) }}">VIEW</a></li>
                                <li><a href="{{ path('client_purchase_order_print', {'clientDomain': clientDomain, 'purchaseOrderNumber': purchaseOrder.purchaseOrderNumber}) }}">PRINT</a></li>
                                {% if purchaseOrder.file|length > 0 %}
                                    <li><a href="/documents/{{ purchaseOrder.file }}">ATTACHED FILE</a></li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    {{ knp_pagination_render(pagination) }}

{% endblock %}
