{% extends 'ClientBundle::PurchaseOrder/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
        <style type="text/css">
            #wrapper {
              /*margin-left: 500px;*/
            }
            #content {
                float: left;
                width: 45%;
                background-color: #e2e2e2;
                margin: 10px 10px;
                padding: 10px 10px;
                line-height: 5px;
            }
            #sidebar {
              float: left;
              width: 500px;
              margin-left: -500px;
              background-color: #FFA;
            }

            #content span {
                font-weight: bold;
            }
            .total {
                line-height: 7px;
                margin: 10px 10px;
            }

            .total span {
                font-weight: bold;
            }
            #cleared {
              /*clear: both;*/
            }
        </style>
{% endblock %}
{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <a class="red" href="{{ path('client_purchase_order_index', {'clientDomain': clientDomain}) }}">BACK TO PURCHASE ORDER LIST</a>
        </div>
    </section>
    
    {% include 'BranchBundle::ads.html.twig' %} 

    <section class="table custom">
        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>SKU</th>
                    <th>CLIENT SKU</th>
                    <th>SUPPLIER SKU</th>
                    <th>QUANTITY</th>
                    <th>COGP</th>
                </tr>
                {% for purchaseOrderProduct in purchaseOrder.products %}
                <tbody>
                    <tr><td colspan="4" class="space"></td></tr>
                    <tr>
                        <td>{{ purchaseOrderProduct.product.sku }}</td>
                        <td>{{ purchaseOrderProduct.product.clientSku }}</td>
                        <td>{{ purchaseOrderProduct.product.supplierSku }}</td>
                        <td>{{ purchaseOrderProduct.quantity }}</td>
                        <td>{{ purchaseOrderProduct.costOfGoodsPurchased }}</td>
                    </tr>
                    <tr >
                        <td colspan="5" class="no-border">
                            <h5>{{ purchaseOrderProduct.product.productDescription }}</h5>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </section>

    <section class="table custom">
        <div class="wrapper total">
            <p> Total Onhand:  <span>  {{ list.totalOnHand }} </span>  </p> 
            <p> Total Allocated:  <span>  {{ list.totalAllocated }} </span>  </p> 
            <p> Total Quaranteen:  <span>  {{ list.totalQuaranteen }} </span>  </p> 
            <p> Total Dispatch:  <span>  {{ list.totalDispatch }} </span>  </p> 
            <p> Total Picked:  <span>  {{ list.totalPicked }} </span>  </p> 
            <p> Total Packed:  <span>  {{ list.totalPacked }} </span>  </p> 
        </div>
    </section>
    <section class="table custom">
        <div class="wrapper">

            {% for product in list.list %}

                <div id="wrapper">
                  <div id="content">

                    <h2> {{ product.info.client_sku }} </h2>
                    <span style="line-height: 13px;"> {{ product.info.product_description }} </span>

                    {# <p> Total Product:  <span>  {{ product.info.productCount }} </span>  </p>  #}
                    <p> Onhand:  <span>  {{ product.countOnHand.onHand }} </span>  </p> 
                    <p> Allocated:  <span>  {{ product.countOnHand.allocated }} </span>  </p> 
                    <p> Quaranteen:  <span>  {{ product.countOnHand.quaranteed }} </span>  </p> 
                    <p> Dispatch:  <span>  {{ product.countOnHand.dispatch }} </span>  </p> 
                    <p> Picked:  <span>  {{ product.countOnHand.picked }} </span>  </p> 
                    <p> Packed:  <span>  {{ product.countOnHand.packed }} </span>  </p> 

                    <a href="javascript:void(0)" class ="show" data-id="{{ product.info.id }}"> SHOW ORDER NUMBER </a>
                    <table cellpadding="0" cellspacing="0" style="display:none" id ="order_{{ product.info.id }}">
                        <tr>
                            <th>Order Number</th>
                            <th>Quantity</th>
                            <th>Picked</th>
                            <th>Packed</th>
                        </tr>

                        {% for orderNumberList in product.countByOrderNumber %}
                            <tr>
                                <td> {{ orderNumberList.order_number }} </td>
                                <td> {{ orderNumberList.orderNumberCount }} </td>
                                <td> {{ orderNumberList.picked }} </td>
                                <td> {{ orderNumberList.packed }} </td>
                            </tr>
                        {% endfor %}
                        
                    </table>
                  </div>

                  <div id="cleared"></div>
                </div>

            {% endfor %}

        </div>
    </section>


    <section class="info">
        <div class="wrapper">
            <ul>
                <li>
                    <h3>Supplier</h3>
                    {{ purchaseOrder.supplier.name }}
                </li>
                <li>
                    <h3>Payment Type</h3>
                    {{ purchaseOrder.paymentType.name }}
                </li>
                <li>
                    <h3>Remarks</h3>
                    {{ purchaseOrder.remarks ? purchaseOrder.remarks : 'N/A' }}
                </li>
                {% if purchaseOrder.file|length > 0 %}
                <li>
                    <a href="/documents/{{ purchaseOrder.file }}">DOWNLOAD ATTACHED FILE</a>
                </li>
                {% endif %}
                <li>
                    <h3>Prepared By</h3>
                    {{ purchaseOrder.createdBy ? purchaseOrder.createdBy.fullname : '' }}
                </li>
            </ul>
        </div>
    </section>

    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){
            $('.show').on('click',function(){
                console.log($(this));
                $id = $(this).data('id');
                console.log($id);
                $("#order_"+ $id).show();
            });
        });
    </script>
{% endblock %}