{% extends 'BranchBundle::Pick/base.html.twig' %}

{% block moduleContent %}

    {% if app.session.flashbag.has('error') %}
        <div class="box notify error">
            {% for flashError in app.session.flashbag.get('error') %}
                <p><strong>Error!</strong>{{ flashError }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% if app.session.flashbag.has('success') %}
        <div class="box notify success">
            {% for flashError in app.session.flashbag.get('success') %}
                <p><strong>Success!</strong>{{ flashError }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <section class="form">
        <div class="wrapper">
            <form action="{{ path('branch_pick_index') }}" method="POST">
                <section>
                    <label for="">Scan Picklist</label>
                    <input name="picklistNumber" type="text">
                </section>
                <section class="form-submit">
                    <button class="red">RETRIEVE</button>
                </section>
            </form>
        </div>
    </section>
    <hr>
    <section class="form">
        
        {% include 'BranchBundle::ads.html.twig' %} 

        <div class="wrapper">
            <form action="{{ path('branch_pick_bulk') }}" method="POST">
                <section>
                    <label for="">Scan Picklist Bulk (Automatic Picklisted) (PASTE all orderNumber)</label>
                    <textarea name="orderNumbers"></textarea>
                </section>
                <section class="form-submit">
                    <button class="red">SUBMIT</button>
                </section>
            </form>
        </div>
    </section>

    <hr>
    <section class="form">
        <div class="wrapper">
            <form action="{{ path('branch_pick_bulk_print') }}" method="POST">
                <section>
                    <label for="">Print Picklist (Paste all orderNumber)</label>
                    <textarea name="orderNumbers"></textarea>
                </section>
                <section class="form-submit">
                    <button class="red">SUBMIT</button>
                </section>
            </form>
        </div>
    </section>


{% endblock %}
