{% extends 'BranchBundle::Pick/base.html.twig' %}

{% block modal %}
    <section class="modal">
        <div class="modal-shader"></div>
        <div class="modal-main">
            <div class="wrapper">
                <section>
                    <h2>INCOMPLETE PICKLIST</h2>
                    <p>
                        The following items has not yet been picked. <br/>
                        If you proceed, these items will be tagged automatically as lost.
                    </p>
                    <ul id="incomplete-picklist-ul">
                    </ul>
                </section>
                <section class="submit">
                    <button class="gray" id="modal-cancel-button">CANCEL</button>
                    <button class="red" id="modal-continue-button">MARK ITEMS AS LOST AND CONTINUE</button>
                </section>
            </div>
        </div>
    </section>
{% endblock %}

{% block moduleContent %}
    <input type="hidden" id="pick-inventory-path" value="{{ path('branch_pick_pick_inventory') }}">
    <input type="hidden" id="for-packing-path" value="{{ path('branch_pick_for_packing') }}">
    <input type="hidden" id="pick-index-path" value="{{ path('branch_pick_index') }}">
    <section class="form">

        {% include 'BranchBundle::ads.html.twig' %} 
        
        <div class="wrapper">
            <form action="">
                <section>
                    <label for="">Scan Inventory Tag</label>
                    <input type="text" id="inventory-scan">
                    <input type="hidden" id="picklist-number" value="{{ picklistNumber }}">
                    <span id="pick-notif" class="error font-red" style="display:none;">Picking...</span>
                </section>
            </form>
        </div>
    </section>
    <section class="table custom">
        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>TAG</th>
                    <th>SKU</th>
                    <th>STORAGE LOCATION</th>
                    <th>MOBILE LOCATION</th>
                    <th>HAS BEEN PICKED</th>
                </tr>
                {% for detail in picklist.items %}
                    <tbody>
                        <tr><td colspan="5" class="space"></td></tr>
                        <tr>
                            <td>{{ detail.inventory.tag }}</td>
                            <td>{{ detail.inventory.product.sku }}</td>
                            <td>{{ detail.inventory.storageLocation.name }}</td>
                            <td>{{ detail.inventory.mobileLocation ? detail.inventory.mobileLocation.name : 'N/A' }}</td>
                            <td>
                                <span class="pick-status" data-desc="{{ detail.inventory.product.productDescription }}">
                                    {% if detail.inventory.inventoryStatus.value not in inventoryHasBeenPicked %}
                                        <i id="{{ detail.inventory.tag }}" class="font-red fa fa-times" aria-hidden="true"></i>
                                    {% else %}
                                        <i 
                                            id="{{ detail.inventory.tag }}" 
                                            class="font-blue fa fa-check" 
                                            aria-hidden="true"
                                        ></i>
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="no-border"><h5>{{ detail.inventory.product.productDescription }}</h5></td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </section>
    <section class="submit">
        <div class="wrapper">
            {% if picklist.picklistStatus.value not in picklistHasBeenPicked %}
                <button class="red" id="submit-for-packing">READY FOR PACKING</button>
            {% endif %}
            <button class="gray">CANCEL</button>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?jsqueeze"
        'js/src/Branch/Pick/pick.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
