<div id="ex1" class="modal modalform" style="display:none">
    <h3 class="header">DISPATCH - <%= statusName %></h3>
    <div class="modal-content">            
        <form enctype="multipart/form-data" id="dispatchform">
            <section>
                <label for="">WAYBILLNO (if available):</label>
                <input type="text" name="waybill" required v-bind:value="data.waybillNumber">
            </section>
            <section>
                <label for="">DELIVERED TO:</label>
                <input type="text" name="pickupBy" required v-bind:value="data.deliveredTo">
            </section>
            <section>
                <label for="">REMARKS:</label>
                <input type="text" name="remarks" v-bind:value="data.remarks">
            </section>

            <section>
                <label for="">ATTACHMENT:</label>
                <input type="file" name="attachment">
            </section>

            <section class="form-submit">
                <button class="red" @click="save($event).prevent()">SAVE</button>
            </section>
        </form>
    </div>
</div>


<div id="ex2" class="modal modalform" style="display:none">
    <h3 class="header">DISPATCH - <%= statusName %></h3>
    <div class="modal-content">            
        <form enctype="multipart/form-data" id="dispatchform2">
            <section>
                <label for="">WAYBILLNO (if available):</label>
                <input type="text" name="waybill" required v-bind:value="data.waybillNumber">
            </section>
            <section>
                <label for="">DELIVERED TO:</label>
                <input type="text" name="pickupBy" required v-bind:value="data.deliveredTo">
            </section>
            <section>
                <label for="">REMARKS:</label>
                <input type="text" name="remarks" v-bind:value="data.remarks">
            </section>

            <section>
                <label for="">ATTACHMENT:</label>
                <input type="file" name="attachment">
            </section>

            <section class="form-submit">
                <button class="red" @click="changeStatus($event).prevent()">SAVE</button>
            </section>
        </form>
    </div>
</div>