{% extends 'BranchBundle::Status/base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <style type="text/css">
        .spacing {
            margin: 0px 10px;
        }

    </style>

{% endblock %}
{% block moduleContent %}
    
    <section class="filter-slide">
        <div class="filter-main">
            <button class="filter-close"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
            <div>
                <form action="">
                    <section>
                        <label for="">Status</label>
                        <select name="" id="">
                            <option value="">INBOUNDED</option>
                            <option value="">INBOUNDED</option>
                        </select>
                    </section>
                    <section>
                        <label for="">Picklist Number</label>
                        <input type="text">
                    </section>
                    <section>
                        <label for="">Order Number</label>
                        <input type="text">
                    </section>
                    <section>
                        <label for="">Client</label>
                        <input type="text">
                    </section>
                    <section class="date">
                        <span class="clearfix">
                            <div>
                                <label for="">Date From</label>
                                <input type="text">
                            </div>
                            <div>
                                <label for="">Date To</label>
                                <input type="text">
                            </div>
                        </span>
                    </section>
                    <section>
                        <label for="">Uploaded By</label>
                        <select name="" id="">
                            <option value=""></option>
                        </select>
                    </section>
                    <section class="form-submit">
                        <button class="red">SEARCH</button>
                        <button class="filter-cancel gray">CANCEL</button>
                    </section>
                </form>
            </div>
        </div>
    </section>
    <section class="table">
        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th></th>
                    <th>PICKLIST NO</th>
                    <th>ORDER NO</th>
                    <th>CLIENT</th>
                    <th>DATE UPLOADED</th>
                    <th>UPLOADED BY</th>
                    <th>STATUS</th>
                    <th></th>
                </tr>
                <form action="{{ path('branch_picklist_print') }}" method="POST" id="picklist-print-form">
                    {% for picklistParticular in pagination %}
                        {% set picklist = picklistParticular.picklistAggregate %}
                        {% set deliveredPicklist = picklist.picklistDelivered %}
                        <tr>
                            <td><input type="checkbox" name="picklistNumbers[]" value="{{ picklistParticular.picklistParticularNumber }}"></td>
                            <td>{{ picklistParticular.picklistParticularNumber }}</td>
                            <td>{{ picklist.orderNumber }}</td>
                            <td>{{ picklist.client.name }}</td>
                            <td>{{ picklist.dateCreated|date('Y-m-d H:i:s') }}</td>
                            <td>
                                {% if picklist.createdBy.lastName is defined  %}
                                    {{ picklist.createdBy.lastName }}
                                {% endif %}
                            </td>
                            <td class="statusfilter">
                                <span class="status border-blue font-blue">{{ deliveredPicklist[0].getStatusName() }}</span>
                            </td>
                            <td class="table-dropdown">
                            </td>
                        </tr>

                        {% for delivered in deliveredPicklist %}
                            <tr>
                                <td  colspan="7">
                                    <p>
                                        <strong class="spacing"> WAYBILL </strong> {{ delivered.waybillNumber }}
                                        <strong class="spacing"> REMARKS </strong> {{ delivered.remarks }}
                                        <strong class="spacing"> DATE DELIVERD </strong> {{ delivered.dateCreated | date('Y-m-d') }}
                                        <strong class="spacing"> DELIVERD TO </strong> {{ delivered.deliveredto }}
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </form>
            </table>
        </div>
    </section>
    {{ knp_pagination_render(pagination) }}
{% endblock %}


{% block modal %}
    {% include 'BranchBundle::Status/_dispatch.modal.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?jsqueeze"
        'js/src/Branch/Picklist/index.js'
        'js/src/components/vue.min.js'
        'js/src/components/vue-resource.min.js'
        'js/src/Branch/vuejs/dispatch.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function(){
            $('.modal').hide();    
        })        
    </script>
{% endblock %}
