{% extends 'BranchBundle::MobileLocation/base.html.twig' %}

{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <a class="red" href="{{ path('branch_mobile_location_index') }}">BACK</a>
        </div>
    </section>
    
    <section class="form">

        {% include 'BranchBundle::ads.html.twig' %} 
        
        <div class="wrapper">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {% include 'BranchBundle::Block/submit_cancel.html.twig' %}
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}
