{% extends 'BranchBundle::MobileLocation/base.html.twig' %}

{% block moduleContent %}
    <section class="actions">
        <div class="wrapper">
            <a class="red" href="{{ path('branch_mobile_location_add') }}">ADD MOBILE LOCATION</a>
        </div>
    </section>
    <section class="table">

        {% include 'BranchBundle::ads.html.twig' %} 
        
        <div class="wrapper">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>Mobile Location Name</th>
                    <th></th>
                </tr>
                {% for location in pagination %}
                    <tr>
                        <td>{{ location.name }}</td>
                        <td class="table-dropdown">
                            <button><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                            <ul>
                                <li><a href="{{ path('branch_mobile_location_update', {'mobileLocationId': location.id}) }}">EDIT</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    {{ knp_pagination_render(pagination) }}

    
{% endblock %}
